﻿@model CourseSectionQualificationsPercentageReportVM
@using FTCS.ViewModels.Reports;

<!--Totals Table-->
<div class="row padding-top-2">
    <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-left">Graduate Totals</h2>
</div>
<table id="Graduate-totals-table" class="table table-striped table-condensed content-table">
    <thead>
    <tr>
        <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="vertical-align: middle">
            Total Course Section
        </th>
        <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="vertical-align: middle">
            Number Academically Qualified
        </th>
        <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="vertical-align: middle">
            Number Professionally Qualified
        </th>
        <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="vertical-align: middle">
            Number Graduate Assistants
        </th>
        <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="vertical-align: middle">
            Missing Transcripts
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>@Html.DisplayFor(modelItem => Model.GraduateTotal.TotalCourseNumber) (@Html.DisplayFor(modelItem => Model.GraduateTotal.TotalCoursePercent)%)</td>
        <td>@Html.DisplayFor(modelItem => Model.GraduateTotal.TotalAcademicNumber) (@Html.DisplayFor(modelItem => Model.GraduateTotal.TotalAcademicPercent)%)</td>
        <td>@Html.DisplayFor(modelItem => Model.GraduateTotal.TotalProfessionallyQualified) (@Html.DisplayFor(modelItem => Model.GraduateTotal.TotalProfessionallyQualifiedPercent)%)</td>
        <td>@Html.DisplayFor(modelItem => Model.GraduateTotal.TotalGraduateAssistants) (@Html.DisplayFor(modelItem => Model.GraduateTotal.TotalGraduateAssistantsPercent)%)</td>
        <td>@Html.DisplayFor(modelItem => Model.GraduateTotal.TotalMissingTranscripts)</td>
    </tr>
    </tbody>
</table>
<!--Graduate Table-->
<div class="row padding-top-2">
    <h2 class="col-left">Graduate Report</h2>
</div>
<table id="graduate-table" class="table table-striped table-condensed content-table">
    <thead>
    <tr>
        <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="vertical-align: middle">
            Department
        </th>
        <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="vertical-align: middle">
            Total Course Section
        </th>
        <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="vertical-align: middle">
            Number Academically Qualified
        </th>
        <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="vertical-align: middle">
            Number Professionally Qualified
        </th>
        <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="vertical-align: middle">
            Number Graduate Assistants
        </th>
        <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="vertical-align: middle">
            Missing Transcripts
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.GraduateReport)
    {
        <tr>
            <td style="font-size: 12pt;"><b>@Html.DisplayFor(modelItem => item.DepartmentName)</b></td>
            <td>@Html.DisplayFor(modelItem => item.TotalCourse) (@Html.DisplayFor(modelItem => item.TotalCoursePercent)%)</td>
            <td>@Html.DisplayFor(modelItem => item.AcademicCourse) (@Html.DisplayFor(modelItem => item.AcademicCoursePercent)%)</td>
            <td>@Html.DisplayFor(modelItem => item.ProfessionalCourse) (@Html.DisplayFor(modelItem => item.ProfessionalCoursePercent)%)</td>
            <td>@Html.DisplayFor(modelItem => item.GaCourse) (@Html.DisplayFor(modelItem => item.GaCourseCoursePercent)%)</td>
            <td>@item.TranscriptMissingList.Count()</td>
        </tr>
        <tr><td colspan="10"> <b>Transcripts are missing for:</b>
                <br/>
                @foreach (var transcripts in item.TranscriptMissingList)
                {
                    @Html.DisplayFor(model => transcripts)
                    <br/>
                }
            </td>
        </tr>
    }
    </tbody>
</table>
<!--Totals Table-->
<div class="row padding-top-2">
    <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-left">Graduate Totals</h2>
</div>
<table id="Graduate-totals-table-2" class="table table-striped table-condensed content-table">
    <thead>
        <tr>
            <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="vertical-align: middle">
                Total Course Section
            </th>
            <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="vertical-align: middle">
                Number Academically Qualified
            </th>
            <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="vertical-align: middle">
                Number Professionally Qualified
            </th>
            <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="vertical-align: middle">
                Number Graduate Assistants
            </th>
            <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="vertical-align: middle">
                Missing Transcripts
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayFor(modelItem => Model.GraduateTotal.TotalCourseNumber) (@Html.DisplayFor(modelItem => Model.GraduateTotal.TotalCoursePercent)%)</td>
            <td>@Html.DisplayFor(modelItem => Model.GraduateTotal.TotalAcademicNumber) (@Html.DisplayFor(modelItem => Model.GraduateTotal.TotalAcademicPercent)%)</td>
            <td>@Html.DisplayFor(modelItem => Model.GraduateTotal.TotalProfessionallyQualified) (@Html.DisplayFor(modelItem => Model.GraduateTotal.TotalProfessionallyQualifiedPercent)%)</td>
            <td>@Html.DisplayFor(modelItem => Model.GraduateTotal.TotalGraduateAssistants) (@Html.DisplayFor(modelItem => Model.GraduateTotal.TotalGraduateAssistantsPercent)%)</td>
            <td>@Html.DisplayFor(modelItem => Model.GraduateTotal.TotalMissingTranscripts)</td>
        </tr>
    </tbody>
</table>
    
