﻿@model CourseSectionQualificationsPercentageReportVM
@using FTCS.ViewModels.Reports;

<!--Grand Totals Table-->
<div class="row content-title">
    <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-left">Grand Totals</h2>
</div>
<table id="grand-totals" class="table table-striped table-condensed content-table">
    <thead>
        <tr>
            <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="vertical-align: middle">
                Total Course Section
            </th>
            <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="vertical-align: middle">
                Number Academically Qualified
            </th>
            <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="vertical-align: middle">
                Number Professionally Qualified
            </th>
            <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="vertical-align: middle">
                Number Graduate Assistants
            </th>
            <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="vertical-align: middle">
                Missing Transcripts
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayFor(modelItem => Model.CSQPRTotal.TotalCourseNumber)</td>
            <td>@Html.DisplayFor(modelItem => Model.CSQPRTotal.TotalAcademicNumber) (@Html.DisplayFor(modelItem => Model.CSQPRTotal.TotalAcademicPercent)%)</td>
            <td>@Html.DisplayFor(modelItem => Model.CSQPRTotal.TotalProfessionallyQualified) (@Html.DisplayFor(modelItem => Model.CSQPRTotal.TotalProfessionallyQualifiedPercent)%)</td>
            <td>@Html.DisplayFor(modelItem => Model.CSQPRTotal.TotalGraduateAssistants) (@Html.DisplayFor(modelItem => Model.CSQPRTotal.TotalGraduateAssistantsPercent)%)</td>
            <td>@Html.DisplayFor(modelItem => Model.CSQPRTotal.TotalMissingTranscripts)</td>
        </tr>
    </tbody>
</table>