﻿@model CourseSectionQualificationsPercentageReportVM
@using FTCS.ViewModels.Reports

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Course Section Qualification Percentage Report</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/Site.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/PDF.css" type="text/css"/>
</head>
<body>
    <div class="row content-title">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <h2>Course Section Qualification Percentage Report</h2>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-right">
            <h3>@Model.AcademicYearForReport</h3>
        </div>
    </div>
    @Html.Partial("_CSQPRUndergraduate", @Model)
    @Html.Partial("_CSQPRGraduate", @Model)
    @Html.Partial("_CSQPRGrandTotals", Model)
</body>
</html>
