﻿@model CourseSectionQualificationsPercentageReportVM
@using FTCS.ViewModels.Reports;

@{
    ViewBag.Title = "Course Section Qualifications Percentage Report";
}

<div class="container">
    <!--Heading section-->
    <div class="row content-title">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 padding-top-4">
            <h1 class="col-left">Course Section Qualifications Percentage Report</h1>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-right padding-top-2">
            @Html.ActionLink("View PDF", "CourseSectionQualificationPercentageReport",
                new { Years = Request.QueryString["Years"], pdf = true },
                new { id = "pdf-button", @class = "btn report-convert-button rounded-blue-button shadow-box-gray", target = "_blank" })
        </div>
    </div>
    <div class="row hr-yellow">
        <hr />
    </div>
    <!--Filter section-->
    <div class="row">
        @using (@Html.BeginForm("CourseSectionQualificationPercentageReport", "Reports", FormMethod.Get, new { @id = "report-filter" }))
        {
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-right">
                <label class="label-small">Academic Year:</label>
                @Html.DropDownList("Years", Model.Years , new { @class = "select-box glow-blue" })
            </div>
        }
    </div>
    <!--Grand Totals Table-->
    @Html.Partial("_CSQPRGrandTotals",Model)
    <!--Grad/Undergrad Tabs section-->
    <div class="sub-content">
        <div class="row menu-row padding-top-2">
            <div id="undergraduate-button" class="btn btn-default menu-button active">
                Undergraduate
                <div class="triangle-outer" style="display: block;"></div>
                <div class="triangle-inner" style="display: block;"></div>
            </div>
            <div id="graduate-button" class="btn btn-default menu-button">
                Graduate
                <div class="triangle-outer" style="display: none;"></div>
                <div class="triangle-inner" style="display: none;"></div>
            </div>
        </div>
        <hr />
        
        <!--Grad/Undergrad Panel Section-->
        <div class="row container">
            <div id="undergraduate-panel" style="display: block;" class="panel">
                <div class="row padding-top-2">
                    <h2 class="col-left">@Model.AcademicYearForReport</h2>
                    @Html.Partial("_CSQPRUndergraduate", @Model)
                </div>
            </div>
            <div id="graduate-panel" style="display: none;" class="panel">
                <div class="row padding-top-2">
                    <h2 class="col-left">@Model.AcademicYearForReport</h2>
                    @Html.Partial("_CSQPRGraduate", @Model)
                </div>
            </div>
        </div>  
    </div>
</div>

@Scripts.Render("~/Scripts/FTCS/sub-menu-noajax.js")
