﻿@model  ReportVM<FacultyRosterVM>
@using FTCS.ViewModels;

@{
    ViewBag.Title = "Faculty Roster Report";
}

<div class="container">
    <!--Heading section-->
    <div class="row content-title">
        <div class="col-lg-6 col-md-6 col-sm-10 col-xs-10 padding-top-4">
            <h1 class="col-left">Faculty Roster Report</h1>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-2 col-xs-2 col-right padding-top-2">
            @Html.ActionLink("Convert to PDF", "FacultyRoster",
            new { department = Request.QueryString["Department"], FacultyType = Request.QueryString["FacultyType"], Year = Request.QueryString["Year"], pdf = true },
                new { id = "pdf-button", @class = "btn report-convert-button rounded-blue-button shadow-box-gray", target = "_blank" })
        </div>
    </div>
    <div class="row hr-yellow">
        <hr />
    </div>
    <!--Filter section-->
    <div class="row">
        @using (@Html.BeginForm("FacultyRoster", "Reports", FormMethod.Get, new { @id = "report" }))
        {
            <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 col-right padding-top-2">
                <label class="label-small">Department:</label>
                @Html.DropDownList("Department", Model.ReportFilterBarVM.Departments, new { @class = "select-box glow-blue" })
                <label class="label-small">Faculty Type:</label>
                @Html.DropDownList("FacultyType", Model.ReportFilterBarVM.Faculty, new { @class = "select-box glow-blue" })
                <label class="label-small">Academic Year:</label>
                @Html.DropDownList("Year", Model.ReportFilterBarVM.Years, new { @class = "select-box glow-blue" })
            </div>
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 col-right padding-top-2">
                <input id="report-filter-submit" class="btn report-submit-button rounded-blue-button shadow-box-gray" type="submit" />
            </div>
        }
    </div>
    <!--Legend section-->
    <div class="row content-title">
        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-10">
            <h2 class="col-left">Legend</h2>
            <div class="hr-yellow">
                <hr />
            </div>
        </div>
    </div>
    <div class="row legend">
        <p>
            Faculty Name: (F) = Full Time,  (P) = Part Time, (GA) = Graduate Assistant
        </p>
    </div>
    <!--Table section-->
    <div class="row padding-top-2">
        <table class="table table-striped table-condensed content-table">
            <thead>
                <tr>
                    <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Faculty Name</th>
                    <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Academic Degrees</th>
                    <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Courses Taught</th>
                    <th class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Professional Qualifications</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ReportLines)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => item.Name) @Html.DisplayFor(model => item.TeacherType.ShortDescription)</td>
                        <td>
                            <ul>
                                @foreach (var degree in item.AcademicDegrees)
                                {
                                    <li>@Html.DisplayFor(model => degree)</li>
                                }
                            </ul>
                        </td>
                        <td>
                            @foreach (var courseRecord in item.CourseRecords)
                            {
                                <ul>
                                    <li>
                                        @courseRecord.Name.ToString()
                                        <ul>
                                            @foreach (var course in courseRecord.Records)
                                            {
                                                <li>
                                                    @Html.DisplayFor(model => course)
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                </ul>
                            }
                        </td>
                        <td>
                            <ul>
                                @if (item.SummaryVm.Narrative == null && !item.SummaryVm.WorkExperience.Any())
                                {
                                    <li>None Required</li>
                                }
                                else
                                {
                                    <li>
                                        Narrative

                                        <ul>
                                            <li>
                                                @Html.DisplayFor(model => item.SummaryVm.Narrative)
                                            </li>
                                        </ul>
                                    </li>
                                    if (item.SummaryVm.WorkExperience.Any())
                                    {
                                        <li>
                                            Related Work Experience

                                            <ul>
                                                @foreach (var experience in item.SummaryVm.WorkExperience)
                                                {
                                                    <li>@Html.DisplayFor(model => experience)</li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                }
                            </ul>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>