﻿@model IEnumerable<FacultyCredentialsReportVM>
@using System.Web.UI.WebControls
@using FTCS.ViewModels;
@using FTCS.App_Code;
@using FTCS.Services.Implementation;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/Site.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/PDF.css" type="text/css" />
    <title>FacultyCredentialsReportPDF</title>
</head>
<body>
    <div class="row content-title padding-bottom-4">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <h2>Faculty Credentials Report</h2>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-right">
            <h3>@ViewBag.Department | @ViewBag.SemesterYear</h3>
        </div>
    </div>
    <div class="row padding-bottom-2">
        <table id="content-table" class="table table-striped table-condensed content-table">
            <thead>
            <tr>
                <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Faculty Name</th>
                <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Semester</th>
                <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Course</th>
                <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Credential</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="@CSSHelper.backgroundRedIf(item.Credential.Description == "Unspecified")">@Html.DisplayFor(modelItem => item.FacultyName)</td>
                        <td class="@CSSHelper.backgroundRedIf(item.Credential.Description == "Unspecified")"> @Html.DisplayFor(modelItem => item.Semester)</td>
                        <td class="@CSSHelper.backgroundRedIf(item.Credential.Description == "Unspecified")">@Html.DisplayFor(modelItem => item.Course)</td>
                        <td class="@CSSHelper.backgroundRedIf(item.Credential.Description == "Unspecified")">@item.Credential.Description</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
