﻿@model FCRTableVM<FacultyCredentialsReportVM>
@using System.Web.UI.WebControls
@using FTCS.ViewModels;
@using FTCS.App_Code;
@using FTCS.Services.Implementation;

@{
    ViewBag.Title = "Faculty Credentials Report";
}

<div class="container">
    <!--Heading section-->
    <div class="row content-title">
        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-10 padding-top-4">
            <h1 class="col-left">Faculty Credentials Report</h1>
        </div>
        <div class="col-lg-6 col-md-4 col-sm-2 col-xs-2 col-right padding-top-2">
            @Html.ActionLink("Convert to PDF", "FacultyCredentialsReport", new
            {
               Department = Request.QueryString["Department"],
               SemesterYear = Request.QueryString["SemesterYear"],
               Pdf = true
            }, new { id = "pdf-button", @class = "btn report-convert-button rounded-blue-button shadow-box-gray", target = "_blank" })
        </div>
    </div>
    <div class="row hr-yellow">
        <hr/>
    </div>
    <!--Filter section-->
    <div class="row">
        @using (Html.BeginForm("FacultyCredentialsReport", "Reports", FormMethod.Get))
        {
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-right padding-bottom-2">
               
                <label class="label-small">Department:</label>
                @Html.DropDownList("department", Model.Department, new {@class="select-box glow-blue"})
                
                <!--Semester Year-->
                <label class="label-small">Semester Year:</label>                
                @Html.DropDownList("Year", Model.ReportFilterBarVM.Years, new { @class = "select-box glow-blue" })
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 col-right padding-bottom-2">
                <input id="submit-button" class="btn report-submit-button rounded-blue-button shadow-box-gray" type="submit" value="Submit"/>
            </div>
        }
    </div>
    <!--Table Section-->
    <div class="row">
        <table class="table table-striped table-condensed content-table">
            <thead>
                <tr>
                    <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Faculty Name</th>
                    <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Semester</th>
                    <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Course</th>
                    <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Credential</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.TableItemVM)
                {
                    <tr>
                        <td class="@CSSHelper.backgroundRedIf(item.Credential.Description == "Unspecified")">@Html.DisplayFor(modelItem => item.FacultyName)</td>
                        <td class="@CSSHelper.backgroundRedIf(item.Credential.Description == "Unspecified")"> @Html.DisplayFor(modelItem => item.Semester)</td>
                        <td class="@CSSHelper.backgroundRedIf(item.Credential.Description == "Unspecified")">@Html.DisplayFor(modelItem => item.Course)</td>
                        <td class="@CSSHelper.backgroundRedIf(item.Credential.Description == "Unspecified")">@item.Credential.Description</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


