﻿@model  ReportVM<FacultyRosterVM>
@using FTCS.ViewModels;

@{
    ViewBag.Title = "Grad. Assist. Roster Report";
}

<div class="container">

    <!--Heading section-->
    <div class="row content-title">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 padding-top-4">
            <h1 class="col-left">Graduate Assistant Roster Report</h1>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-right padding-top-2">
            @Html.ActionLink("Convert to PDF", "GradAssistantRoster",
                new { year = Request.QueryString["Year"], pdf = true },
                    new { id = "pdf-button", @class = "btn report-convert-button rounded-blue-button shadow-box-gray", target = "_blank" })
        </div>
    </div>
    <div class="row hr-yellow">
        <hr />
    </div>
    <!--Filter section-->
    <div class="row padding-bottom-2">
        @using (@Html.BeginForm("GradAssistantRoster", "Reports", FormMethod.Get))
        {
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-right">
                <label class="label-small">@Html.DisplayNameFor(m => m.ReportFilterBarVM.Years):</label>
                @Html.DropDownList("Year", Model.ReportFilterBarVM.Years, new { @class = "select-box glow-blue" })
                <input id="report-filter-submit" class="btn report-submit-button rounded-blue-button shadow-box-gray" type="submit" />
            </div>
        }
    </div>
    <!--Table section-->
    <div class="row">
        <table class="table table-striped table-condensed content-table">
            <thead>
                <tr>
                    <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">Department</th>
                    <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Faculty Name</th>
                    <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Academic Degrees</th>
                    <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Courses Taught</th>
                    <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Professional Qualifications</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ReportLines)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => item.Department)</td>
                        <td>@Html.DisplayFor(model => item.Name) @Html.DisplayFor(model => item.TeacherType.ShortDescription)</td>
                        <td>
                            <ul>
                                @foreach (var degree in item.AcademicDegrees)
                                {
                                    <li>@Html.DisplayFor(model => degree)</li>
                                }
                            </ul>
                        </td>
                        <td>
                            @foreach (var courseRecord in item.CourseRecords)
                            {
                                <ul>
                                    <li>
                                        @courseRecord.Name.ToString()
                                        <ul>
                                            @foreach (var course in courseRecord.Records)
                                            {
                                                <li>
                                                    @Html.DisplayFor(model => course)
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                </ul>
                            }
                        </td>
                        <td>
                            <ul>
                                @if (item.SummaryVm.Narrative == null && !item.SummaryVm.WorkExperience.Any())
                                {
                                    <li>None Required</li>
                                }
                                else
                                {
                                    <li>
                                        Narrative

                                        <ul>
                                            <li>
                                                @Html.DisplayFor(model => item.SummaryVm.Narrative)
                                            </li>
                                        </ul>
                                    </li>
                                    if (item.SummaryVm.WorkExperience.Any())
                                    {
                                        <li>
                                            Related Work Experience

                                            <ul>
                                                @foreach (var experience in item.SummaryVm.WorkExperience)
                                                {
                                                    <li>@Html.DisplayFor(model => experience)</li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                }
                            </ul>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>