﻿@model IOrderedEnumerable<FacultyRosterVM>
@using FTCS.ViewModels
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/bootstrap.css"/>
    <link rel="stylesheet" href="~/Content/Site.css" type="text/css"/>
    <link rel="stylesheet" href="~/Content/PDF.css" type="text/css" />
    <title>GradAssistantRosterPDF</title>
</head>
<body>
    <div class="row content-title padding-bottom-4">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <h2>Graduate Assistant Roster Report</h2>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-right">
            <h2>@ViewBag.Year</h2>
        </div>
    </div>
        <!--Table section-->
    <div class="container">
        <div class="row">
            <table id="content-table" class="table table-striped table-condensed content-table">
                <thead>
                <tr>
                    <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">Department</th>
                    <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Faculty Name</th>
                    <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Academic Degrees</th>
                    <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Courses Taught</th>
                    <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Professional Qualifications</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => item.Department)</td>
                        <td>@Html.DisplayFor(model => item.Name) @Html.DisplayFor(model => item.TeacherType.ShortDescription)</td>
                        <td>
                            <ul>
                                @foreach (var degree in item.AcademicDegrees)
                                {
                                    <li>@Html.DisplayFor(model => degree)</li>
                                }
                            </ul>
                        </td>
                        <td>
                            @foreach (var courseRecord in item.CourseRecords)
                            {
                                <ul>
                                    <li>
                                        @courseRecord.Name.ToString()
                                        <ul>
                                            @foreach (var course in courseRecord.Records)
                                            {
                                                <li>
                                                    @Html.DisplayFor(model => course)
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                </ul>
                            }
                        </td>
                        <td>
                            <ul>
                                @if (item.SummaryVm.Narrative == null && !item.SummaryVm.WorkExperience.Any())
                                {
                                    <li>None Required</li>
                                }
                                else
                                {
                                    <li>Narrative
                                           
                                        <ul>
                                            <li>
                                                @Html.DisplayFor(model => item.SummaryVm.Narrative)
                                            </li>
                                        </ul>
                                    </li>
                                    if (item.SummaryVm.WorkExperience.Any())
                                    {
                                        <li>Related Work Experience
                                                
                                            <ul>
                                                @foreach (var experience in item.SummaryVm.WorkExperience)
                                                {
                                                    <li>@Html.DisplayFor(model => experience)</li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                }
                            </ul>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
