﻿<div class="container">
    <!--Picture to notify the user they are blocked from this page.-->
    <div class="row">
        <img class="col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-lg-4 col-md-4 col-sm-4 col-xs-4"
             src="http://gifrific.com/wp-content/uploads/2013/02/Dikembe-Mutumbo-Cereal-Block-Geico.gif"
             alt="Picture of the greatest BLOCKER!!!!! EVER!!!!!!!"/>
    </div>
    <!--Message to notify the user they are blocked from this page.-->
    <div class="row">
        <h2 class="col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
            You are not authorized to view this page
        </h2>
    </div>
</div>
