﻿@model AdminVM
@using System.Web.Mvc.Html
@using FTCS.ViewModels.Account;

<!--Heading section-->
<div class="container">
    <div class="row content-title col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-md-6 col-lg-6 padding-top-4">
        <h1 class="col-left">Select Department and Role</h1>
    </div>
    <div class="row hr-yellow col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-md-6 col-lg-6">
        <hr />
    </div>
</div>
<!--Login form-->
<div class="container">
    @using (Html.BeginForm("Admin", null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <!--Select box for department-->
        <div class="row padding-top-2">
            <div class="col-sm-offset-4 col-md-offset-4 col-lg-offset-4 col-lg-1 col-md-1 col-sm-1 col-xs-1 col-left">
                @Html.LabelFor(m => m.Departments, new { style = "padding-top: .75rem" })
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-left">
                @Html.DropDownList("Department", Model.Departments, new { @class = "text-box form-control glow-blue" })
            </div>
        </div>
        <!--Radio buttons for the role-->
        <div class="row padding-top-2">
            <div class="col-sm-offset-4 col-md-offset-4 col-lg-offset-4 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <label>Role</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                @Html.RadioButtonFor(m => m.Role, "Chair") Department Officer &nbsp; &nbsp;
                @Html.RadioButtonFor(m => m.Role, "Dean") College Officer
            </div>
        </div>
        <!--Submit button-->
        <div class="row padding-top-2">
            <div class="col-sm-offset-4 col-md-offset-4 col-lg-offset-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 col-centered">
                <input class="btn login-submit-button rounded-blue-button shadow-box-gray" type="submit" value="Log in" />
            </div>
        </div>
    }
</div>


