﻿@model UserVM
@using FTCS.ViewModels;
@using FTCS.App_Code;

@{
    ViewBag.Title = "Login";
}

<!--Heading section-->
<div class="container">
    <div class="row content-title col-xs-offset-4 col-sm-offset-3 col-md-offset-3 col-lg-offset-4 col-lg-4 col-md-8 col-sm-8 col-xs-8 padding-top-4">
        <h1 class="col-left">Login</h1>
    </div>
    <div class="row hr-yellow col-xs-offset-4 col-sm-offset-3 col-md-offset-3 col-lg-offset-4 col-lg-4 col-md-6 col-sm-6 col-xs-6">
        <hr />
    </div>
</div>
<!--Login form-->
<div class="container">
    @using (Html.BeginForm("Login", null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <!--Username label and text box-->
        <div class="row padding-top-2">
            <div class="label-small col-xs-offset-4 col-sm-offset-3 col-md-offset-3 col-lg-offset-4 col-lg-1 col-md-2 col-sm-2 col-xs-2 col-left" style="padding-top:.75rem">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 col-left">
                @Html.TextBox("UserName", null, new { @class = "text-box form-control glow-blue" })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
        </div>
        <!--Password label and text box-->
        <div class="row padding-top-2">
            <div class="label-small col-xs-offset-4 col-sm-offset-3 col-md-offset-3 col-lg-offset-4 col-lg-1 col-md-2 col-sm-2 col-xs-2 col-left" style="padding-top:.75rem">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 col-left">
                @Html.TextBox("Password", null, new { @class = "text-box form-control glow-blue", @type = "password" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>
        <!--Validation summary box-->
        <div class="row padding-top-2 row-centered" style="@CSSHelper.notVisibleIf(Html.ValidationSummary().ToHtmlString().Contains("display:none"))">
            <div class="col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label col-left">
                <div class="alert alert-danger" role="alert">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                </div>
            </div>
        </div>
        <!--Submit Button-->
        <div class="row padding-top-2">
            <div class="col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 col-centered">
                <input class="btn login-submit-button rounded-blue-button shadow-box-gray" type="submit" value="Log in" />
            </div>
        </div>
    }
</div>



