﻿@model PaginatedTableVM<CourseVM>
@using FTCS.ViewModels.Course;
@using FTCS.ViewModels;
@using PagedList.Mvc;
@using PagedList;
@using FTCS.App_Code;

@{
    ViewBag.Title = "Faculty by Course";
}

<div class="container">
    <!--Heading section-->
    <div class="row content-title padding-top-4">
        <h1 class="col-sm-12 col-md-12 col-lg-12 col-left">List of Courses</h1>
    </div>
    <div class="row hr-yellow">
        <hr />
    </div>
    <!--Search and filter section-->
    <div class="row">
        @Html.Partial("_FilterBar", Model.FilterBarVM)
    </div>
    <!--Table section-->
    <div class="row">
        <table class="table table-striped table-condensed content-table">
            <thead>
                <tr>
                    <th class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <a href="@TableSorter.SetNextSort(
                                     "Index", new
                                     {
                                         Letter = Model.FilterBarVM.Letter,
                                         Search = Model.FilterBarVM.Search
                                     },
                                     Model.FilterBarVM.Sort,
                                     Html.NameFor(m => m.TableLineItemsVMs.FirstOrDefault().CourseCode).ToString()
                                     )">
                            @Html.DisplayNameFor(m => m.TableLineItemsVMs.FirstOrDefault().CourseCode).ToString()
                        </a>
                        @TableSorter.DisplayCurrentSort(Model.FilterBarVM.Sort, @Html.NameFor(model => model.TableLineItemsVMs.First().CourseCode).ToString())
                    </th>
                    <th class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <a href="@TableSorter.SetNextSort(
                            "Index", new
                            {
                                Letter = Model.FilterBarVM.Letter,
                                Search = Model.FilterBarVM.Search
                            },
                            Model.FilterBarVM.Sort,
                            Html.NameFor(m => m.TableLineItemsVMs.FirstOrDefault().Name).ToString()
                            )">
                            @Html.DisplayNameFor(m => m.TableLineItemsVMs.FirstOrDefault().Name).ToString()
                        </a>
                        @TableSorter.DisplayCurrentSort(Model.FilterBarVM.Sort, @Html.NameFor(model => model.TableLineItemsVMs.First().Name).ToString())
                    </th>
                    <th class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <a href="@TableSorter.SetNextSort(
                            "Index", new
                            {
                                Letter = Model.FilterBarVM.Letter,
                                Search = Model.FilterBarVM.Search
                            },
                            Model.FilterBarVM.Sort,
                            Html.NameFor(m => m.TableLineItemsVMs.FirstOrDefault().Department).ToString()
                            )">
                            @Html.DisplayNameFor(m => m.TableLineItemsVMs.FirstOrDefault().Department).ToString()
                        </a>
                        @TableSorter.DisplayCurrentSort(Model.FilterBarVM.Sort, @Html.NameFor(model => model.TableLineItemsVMs.First().Department).ToString())
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.TableLineItemsVMs)
                {
                    <tr>
                        <td>@Html.ActionLink(@item.CourseCode,"FacultyWhoHaveTaught","Faculty", new { item.Rubric, item.Number },null)</td>
                        
                        <td>@Html.ActionLink(item.Name,"FacultyWhoHaveTaught","Faculty",new {item.Rubric,item.Number},null)</td>

                        <td>@Html.DisplayFor(modelItem => item.Department)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!--Pagination-->
<nav class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
  @Html.PagedListPager((IPagedList)Model.TableLineItemsVMs, page =>
  {
      Model.FilterBarVM.Page = page;
      return @Url.Action("Index", "Course", Model.FilterBarVM);
  })
</nav> 