﻿@model ProgramsVM
@using FTCS.ViewModels.Task;

<!--Cordinator-->
<div class="center-contents col-lg-4 col-md-5 col-sm-4 col-xs-3 ellipsis" title="@Model.Coordinator">
    <!--Used a-tag becasue of icon-->
    <a id="pencil"
       title="Change the coordinator for @Model.Program"
       data-ajax="true"
       data-ajax-method="GET"
       data-ajax-mode="replace"
       data-ajax-loading="#ajax-loading-@Model.ProgramCode"
       data-ajax-update="#accordion-button-contents-@Model.ProgramCode"
       href=@Url.Action("ShowChangeProgramCoordinator", new {programCode = Model.ProgramCode, departmentCode = Model.DepartmentCode})
       style="padding-right: .5rem">
        <i class="fa fa-pencil" aria-hidden="true"></i>
    </a>
    Coord: @Model.Coordinator
    <!--Loading wheel-->
    <div id="ajax-loading-@Model.ProgramCode" class="ajax-loader-wheel-sm" style="display:none">
    </div>
</div>
<!--Level-->
<div title="@Model.Level" class="center-contents col-lg-2 col-md-1 ellipsis">
    @Model.Level
</div>
<!--Number of concentrations-->
<div class="center-contents col-md-1 col-right" title="There are @Model.NumberOfConcentrations concentration(s) in the @Model.Program program of study">
    <div class="badge">
        @Model.NumberOfConcentrations
    </div>
</div>