﻿<!--Button for adding a program of study-->
<!--Made into a partial for AJAX functionally-->
<!--Used  a-tag because of the icon-->
<a data-ajax="true" 
   data-ajax-method="GET" 
   data-ajax-mode="replace" 
   data-ajax-complete="setupAddProgramSection()"
   data-ajax-loading="#ajax-loading-add-pos"
   data-ajax-update="#add-program-of-study" 
   href=@Url.Action("AddProgramOfStudy")
   class="btn rounded-dashed-button add-program-button">
   <i class="fa fa-plus-circle" aria-hidden="true" style="padding-right: 1rem;"></i>
    Add a Program of Study
    <div id="ajax-loading-add-pos" class="ajax-loader-wheel-lg" style="display:none">
    </div>
</a>