﻿@model FTCS.ViewModels.AddProgramOfStudyVM

<div class="rounded-dashed-container">
    @using (@Html.BeginForm("AddProgramOfStudy", "ProgramOfStudy", FormMethod.Post, new {@id = "add-program-of-study"}))
    {
        <div class="add-program-of-study-form">
            <div class="row">
                <!--Form title-->
                <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    Add a Program of Study
                </h2>
            </div>
            <!--Drop-downs for program, level, department and coordinator-->
            <div class="row">
                <label class="label-small col-lg-3 col-md-3 col-sm-3 col-xs-3 col-right">
                    Program:
                </label>
                @Html.DropDownList("ProgramCode", Model.SelectProgram,
                    new {@class = "select-box glow-blue col-lg-8 col-md-8 col-sm-8 col-xs-8 col-right", @title = "Select a Program"})
            </div>
            <div class="row padding-top-2">
                <label class="label-small col-lg-3 col-md-3 col-sm-3 col-xs-3 col-right">
                    Level:
                </label>
                @Html.DropDownList("LevelId", Model.SelectLevel,
                    new {@class = "select-box glow-blue col-lg-8 col-md-8 col-sm-8 col-xs-8 col-right", @title = "Select a Level"})
            </div>
            @if (Model.SelectDepartment.Any())
            {
                <div class="row padding-top-2">
                    <label class="label-small col-lg-3 col-md-3 col-sm-3 col-xs-3 col-right">
                        Department:
                    </label>
                    @Html.DropDownList("DepartmentCode", Model.SelectDepartment,
                        new {@class = "select-box glow-blue col-lg-8 col-md-8 col-sm-8 col-xs-8 col-right", @title = "Select a Department"})
                </div>
            }
            <div class="row padding-top-2">
                <label class="label-small col-lg-3 col-md-3 col-sm-3 col-xs-3 col-right">
                    Coordinator:
                </label>
                @Html.DropDownList("CoordinatorId", Model.SelectCoordinator,
                    new {@class = "select-box glow-blue col-lg-8 col-md-8 col-sm-8 col-xs-8 col-right", @title = "Select a Coordinator"})
            </div>
        </div>
        <div class="row padding-top-2" >
            <div class="col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align: center;">
                <!--Sumbit-->
                <button id="report-filter-submit" class="btn rounded-green-button shadow-box-gray" disabled="disabled" type="submit" title="Submit Program of Study">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </button>
                <!--Cancel-->
                <!--Used a-tag because of icon-->
                <a data-ajax="true" 
                   data-ajax-method="GET" 
                   data-ajax-mode="replace" 
                   data-ajax-update="#add-program-of-study"
                   data-ajax-complete="loadProgramForm()" 
                   href=@Url.Action("AddProgramOfStudyButton")
                   class="btn rounded-red-button shadow-box-gray" 
                   title="Do not add Program of Study">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    }
</div>


