﻿@model  IEnumerable<ConcentrationVM>
@using FTCS.ViewModels;

<!--Made a partial so concentration table contents can have AJAX functionality-->
<!--Just the contents needs to be updated not the whole view or program of study-->
@foreach (var concentration in Model)
{
    <!--id is used in a different view for an AJAX call-->
    <tr id="concentration-@concentration.ConcentrationCode-@concentration.ProgramCode">
        @Html.Partial("_Concentration", concentration)
    </tr>
}

