﻿@model FTCS.ViewModels.ConcentrationVM

<!--Concentration name-->
<td class="ellipsis" title="@Model.Program">
    @Model.Program
</td>
<!--Coordinator name-->
<td class="ellipsis" title="@Model.Coordinator">
    @Model.Coordinator
</td>
<td class="col-right">
    <!--Loader wheel-->
    <div id="ajax-loading-@Model.ConcentrationCode-@Model.ProgramCode" class="ajax-loader-wheel-md" style="display: none">
    </div>
    <!--Edit button-->
    <!--Used a-tag because of icon-->
    <a class="btn rounded-teal-button shadow-box-gray" title="Edit the @Model.ConcentrationCode concentration"
       data-ajax="true"
       data-ajax-method="GET"
       data-ajax-mode="replace"
       data-ajax-loading="#ajax-loading-@Model.ConcentrationCode-@Model.ProgramCode"
       data-ajax-update="#concentration-@Model.ConcentrationCode-@Model.ProgramCode"
       href=@Url.Action("ShowChangeProgramOfStudyConcentration", new {programCode = Model.ProgramCode, concentrationCode=Model.ConcentrationCode})>
        <i class="fa fa-pencil" aria-hidden="true"></i>
    </a>
</td>
