﻿@model FTCS.ViewModels.Task.ProgramsVM

<div class="block-ui-delete" style="display: none">
    <div class="remove-body">
        <div class="row">
            <!--Title-->
            <h2>Remove @Model.Program</h2>
        </div>
        <hr />
        <div class="row">
            <!--Message-->
            <p>Are you sure you want to remove @Model.Program from the @Model.DepartmentCode department?</p>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <!--Accept button-->
                <!--Used a-tag because of icon-->
                <a class="btn rounded-green-button shadow-box-gray"
                   onclick="fadeOut()"
                   data-ajax="true"
                   data-ajax-method="GET"
                   data-ajax-mode="replace"
                   data-ajax-loading="#loading-wheel"
                   data-ajax-update="#task-panel"
                   data-ajax-success="ajaxSuccessDelete()"
                   href=@Url.Action("RemoveProgramOfStudy", new {coordinatorid = Model.CoordinatorId, programcode = Model.ProgramCode})
                   title="Confirm removal">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </a>
                <!--Cancel button-->
                <button class="btn rounded-red-button shadow-box-gray" onclick="fadeOut()" title="Cancel removal">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>


