﻿@model ProgramsVM
@using FTCS.ViewModels.Task;

<div class="program-of-study-contents center-contents">
    @using (Ajax.BeginForm("ChangeProgramCoordinator", "ProgramOfStudy", new AjaxOptions()
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId= "accordion-button-contents-" + Model.ProgramCode,
        OnSuccess = "ajaxSuccessPOS()",
        OnFailure = "ajaxError(xhr, status, error)",
        LoadingElementId = "ajax-loading-" + Model.ProgramCode

    }))
    {
        <!--Edit Coordinator-->
        <div class="center-contents col-lg-5 col-md-5 col-sm-5 col-xs-5" style="padding-left: 3rem;" title="Select a coordinator for @Model.Program">
            Coord:
            @Html.HiddenFor(model => Model.ProgramCode)
            @Html.HiddenFor(model => Model.DepartmentCode)
            @Html.DropDownListFor(model => Model.CoordinatorId, ViewData["CoordinatorOptions"] as List<SelectListItem>, new {@class = "select-box", @style = "margin-left:.5rem;" })
            <!--Loader wheel-->
            <div id="ajax-loading-@Model.ProgramCode" class="ajax-loader-wheel-sm" style="display:none">
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-right center-contents">
            <!--Submit button-->
            <button class="btn rounded-green-button shadow-box-blue" type="submit" title="Sumbit change for @Model.Program">
                <i class="fa fa-check" aria-hidden="true"></i>
            </button>
            <!--Cancel button-->
            <!--Used a-tag because of icon-->
            <a class="btn rounded-red-button shadow-box-blue" title="Cancel change for @Model.Program"
               data-ajax="true"
               data-ajax-method="GET"
               data-ajax-mode="replace"
               data-ajax-loading="#ajax-loading-@Model.ProgramCode"
               data-ajax-update="#accordion-button-contents-@Model.ProgramCode"
               href=@Url.Action("ShowProgramOfStudyContent",new {programCode = Model.ProgramCode, departmentCode = Model.DepartmentCode})>
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </div>
    } 
</div>




