﻿@model FTCS.ViewModels.ConcentrationVM
@using FTCS.ViewModels.Task;

<td colspan="3">
    @using (@Ajax.BeginForm("ChangeConcentrationCoordinator", "ProgramOfStudy", new AjaxOptions()
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "concentration-" + Model.ConcentrationCode + "-" + Model.ProgramCode,
        OnSuccess = "ajaxSuccessCON()",
        OnFailure = "ajaxError(xhr,status, error)",
        LoadingElementId = "ajax-loading-" + Model.ConcentrationCode + "-" + Model.ProgramCode
    }))
    {
        <!--Concentration-->
        <div class="col-md-4" style="padding-top: .7rem;" title="@Model.Program">
            @Model.Program
        </div>
        <!--Select box for coordinator-->
        <div class="col-md-4">
            @Html.HiddenFor(model => Model.ConcentrationCode)
            @Html.HiddenFor(model => Model.ProgramCode)
            @Html.DropDownListFor(model => Model.CoordinatorId, ViewData["CoordinatorOptions"] as List<SelectListItem>, new {@class = "select-box", @title = "Select a Coordinator"})
        </div>
        <div class="col-md-4 col-right">
            <!--Loader wheel-->
            <div id="ajax-loading-@Model.ConcentrationCode-@Model.ProgramCode" class="ajax-loader-wheel-md" style="display: none">
            </div>
            <!--Sumbit button-->
            <button class="btn rounded-green-button shadow-box-gray" type="submit" title="Submit change to @Model.Program">
                <i class="fa fa-check" aria-hidden="true"></i>
            </button>
            <!--Cancel button-->
            <!--Used a-tag because of icon-->
            <a class="btn rounded-red-button shadow-box-gray" title="Cancel change for @Model.Program"
               data-ajax="true"
               data-ajax-method="GET"
               data-ajax-mode="replace"
               data-ajax-loading="#ajax-loading-@Model.ConcentrationCode-@Model.ProgramCode"
               data-ajax-update="#concentration-@Model.ConcentrationCode-@Model.ProgramCode"
               href=@Url.Action("ShowNormalProgramOfStudyConcentration", new {programCode = Model.ProgramCode, concentrationCode = Model.ConcentrationCode})>
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </div>
    }
</td>



