﻿@model IEnumerable<ProgramsVM>
@using FTCS.ViewModels.Task;

@foreach (var programOfStudy in Model)
{
    <div class="row padding-top-4">
        <div class="program-of-study">
            
            <!--Accordion button-->
            <div class="btn rounded-blue-button shadow-box-gray closed program-of-study-contents">
                <!--Open/Close indicator and Program of study name-->
                <div class="btn program-of-study-button col-lg-5 col-md-5 col-sm-6 col-xs-7 center-contents" title="@programOfStudy.Program">
                    <i class="chevron fa fa-chevron-right" aria-hidden="true"></i>
                    <i class="chevron fa fa-chevron-down" style="display: none;" aria-hidden="true"></i>
                    <label>
                        @programOfStudy.Program
                    </label>
                </div>
                <div id="accordion-button-contents-@programOfStudy.ProgramCode" class="center-contents">
                    @Html.Partial("_AccordionButton", programOfStudy)
                </div>
            </div>
            <!--Accordion panel -->
            <div class="panel closed">
                <!--Content table-->
                <table class="table">
                    <thead>
                    <tr>
                        <th class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Concentration</th>
                        <th class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Coordinator</th>
                        <th class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></th>
                    </tr>
                    </thead>
                    <tbody>
                    @Html.Action("ShowProgramOfStudyConcentration", new {programCode = programOfStudy.ProgramCode})
                    </tbody>
                </table>
                <!--Delete link-->
                <div class="row">
                    <button class="btn delete shadow-box-gray" onclick="fadeIn(this)" title="Remove the @programOfStudy.Program program of study">
                        Remove @programOfStudy.Program from the @programOfStudy.DepartmentCode department
                    </button>
                    @Html.Partial("_DeleteConfirm", programOfStudy)
                </div>
            </div>
        </div>
    </div>
}
<!--Add program of study-->
<div id="add-program-of-study" class="row padding-top-2" style="text-align: center;">
    @Html.Action("AddProgramOfStudyButton")
</div>
 
<!--Success messages-->
<div id="ajax-success-pos" class="ajax-success" style="display: none">
    <i class="fa fa-check-square-o" aria-hidden="true"></i>
    The program coordinator was successfully changed!
</div>

<div id="ajax-success-con" class="ajax-success" style="display: none">
    <i class="fa fa-check-square-o" aria-hidden="true"></i>
    A concentration coordinator was successfully changed!
</div>

<div id="ajax-success-delete" class="ajax-success" style="display: none">
    <i class="fa fa-check-square-o" aria-hidden="true"></i>
    The program of study has been removed!
</div>


<!--Script to make accordion drop down-->
@Scripts.Render("~/Scripts/FTCS/program-of-study-accordion.js")
@Scripts.Render("~/Scripts/FTCS/remove-fade-in-fade-out.js")