﻿@model  FilterBarVM
@using FTCS.ViewModels;
@using FTCS.App_Code;

@{
    var isAllSelected = new Func<bool>(() => "All" == Model.Letter);
}

<div id="filter-bar">
    <div class="row">
        <!--Starting with Label-->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-left @CSSHelper.hideIf(isAllSelected)">
            <p id="starts-with-message">
                @ViewBag.Title starting with: @Model.Letter
            </p>
        </div>
    </div>
    <div class="row padding-top-2">
        <!--A-Z Filter-->
        <div id="filter-letters" class="col-lg-7 col-md-12 col-sm-12 col-xs-12 col-left">
            <div class="btn-group" role="group">
                @Html.ActionLink("All", "Index", new { Letter = "All", Search = Model.Search },
                    new { @class = "btn filter-letter-button rounded-blue-button shadow-box-gray " + @CSSHelper.activeIf(Model.Letter == "All") })
                @for (var c = 'A'; c <= 'Y'; c++)
                {
                    @Html.ActionLink(@c.ToString(), "Index",
                            new { Letter = @c.ToString(), Search = Model.Search, Department = Model.Department },
                                new { @class = "btn filter-letter-button rounded-blue-button shadow-box-gray " + @CSSHelper.activeIf(c.ToString() == Model.Letter) })
                }
                @Html.ActionLink("Z", "Index", new { Letter = "Z", Search = Model.Search, Department = Model.Department },
                    new { @class = "btn filter-letter-button rounded-blue-button shadow-box-gray " + @CSSHelper.activeIf("Z" == Model.Letter) })
            </div>
        </div>
        <!--Search Bar-->
        <div id="search-box" class="col-lg-5 col-md-12 col-sm-12 col-xs-12 col-right" style="white-space:nowrap">

            @using (Html.BeginForm("Index", null, FormMethod.Get))
            {
                @Html.HiddenFor(model => model.Letter);
                @Html.HiddenFor(model => model.Sort)
                @Html.HiddenFor(model => model.Department)
                <div class="btn-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.TextBoxFor(model => model.Search, new { id = "search-text-box", @class = "form-control filter-search-box" })
                    <input id="search-button" class="btn rounded-white-button" type="submit" value="">
                </div>
            }
        </div>
    </div>
    <!--Clear Button-->
    <div class="row padding-top-2 padding-bottom-2">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-left">
            @Html.ActionLink("Clear", "Index", new { }, new { @class = "btn filter-clear rounded-border-blue-button shadow-box-gray" })
        </div>
    </div>
</div>