﻿@using System.Security.Claims
@using FTCS.Services
@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
@{
    var identity = (ClaimsIdentity) User.Identity;
}
<!--Loader-->
<div id="loading-wheel" class="block-ui">
    <div class="loader">
        <div class="loader-wheel"></div>
        Loading...
    </div>
</div>
<div id="ajax-success" class="ajax-success" style="display: none;">
    <i class="fa fa-check-square-o" aria-hidden="true"></i>
    
</div>
<div id="ajax-error" class="ajax-error" style="display: none;">
    <i class="fa fa-close" aria-hidden="true"></i>
</div>
<!--Header Section-->
<div id="site-header" class="container">
    <div class="row">
        <!--Semester Year-->
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-left">
            <div class="row">
                @Html.Action("RenderSemesterYear", "Shared")
            </div>
        </div>
        <!--Logo and Title-->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-centered">
            <a id="etsu-logo" href="http://www.etsu.edu/etsuhome/default.aspx">
                <img src="~/Content/Images/header_logo_2014_alt.png"/>
            </a>
            @Html.ActionLink("Faculty Teaching Credentials System", "Index", "Home", new {},
                new {id = "header-title"})
        </div>
        <!--Login and Logout-->
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-right">
            @if (string.IsNullOrEmpty(User.Identity.Name))
            {
                @Html.ActionLink("Log in", "Login", "Account", new {},
                    new {@class = "btn rounded-border-yellow-button shadow-box-blue", @id = "login-link"})
            }
            else
            {
                <div class="row">
                    <div class="officer-dropdown">
                        <button class="btn rounded-blue-button officer-option-button" onclick="officerMenuOpenClose()">
                            Hello, @User.Identity.Name <i class="fa fa-caret-down" onclick="officerMenuOpenClose()" aria-hidden="true"></i>
                        </button>
                        <div id="officer-dropdown-content" class="officer-dropdown-content">
                            @Html.ActionLink("Credential Tasks", "Index", "Task", new {},
                                new {@id = "credentialing-task-link"})
                            @Html.ActionLink("Log out", "Logout", "Account", new {},
                                new {@id = "logout-link"})
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="login-role">
                        @if (User.IsInRole("Chair"))
                        {
                            <label>Department Credentials Officer in</label>
                            <label><strong>@identity.FindFirstValue(FTCSUserManager.DepartmentClaim)</strong></label>
                        }
                        else if (User.IsInRole("Dean"))
                        {
                            <label>College Credentials Officer</label>
                        }
                        else if (User.IsInRole("Administrator"))
                        {
                            <label>Proxy</label>
                        }

                    </div>
                </div>
            }
        </div>
    </div>
    <!--Nav-Bar Section-->
    <div id="nav-bar">
        <div class="row row-centered padding-top-2" style="max-width: 1400px">
            @Html.Action("RenderNavBar", "Shared")
        </div>
    </div>
</div>
<!--Body Section-->
<div class="body-content">
    <div class="card">
        @RenderBody()
    </div>
</div>
<!--Footer Section-->
<div>
    <footer id="footer-upper"><!--This is here so the mountain background can have a place--></footer>
    <footer id="footer-bottom" class="col-centered">
        <p>@Html.ActionLink("Contact Us", "", "", new {}, new { id = "contact-us-link"})</p>
        <p>&copy; @DateTime.Now.Year<a href="http://www.etsu.edu/etsuhome/"> East Tennessee State University</a> All Rights Reserved (FTCS v2.0)
        </p>
    </footer>
</div>
<!--Script Section-->
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/ftcs-scripts")
@RenderSection("scripts", required: false)
@Scripts.Render("~/Scripts/FTCS/loader.js")
@Scripts.Render("~/Scripts/FTCS/officer-option-dropdown.js")

</body>
</html>
