﻿<!--Home Button Button-->
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-centered">
    @Html.ActionLink("Home", "Index", "Home", new { }, 
        new { id = "home-link", @class = "btn nav-bar-button rounded-yellow-button shadow-box-blue" })
</div>
<!--Search By Button-->
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-centered dropdown">
    <button id="search-faculty-link" class="btn nav-bar-button rounded-yellow-button">
        Search for Faculty
        <i class="fa fa-caret-down" aria-hidden="true"></i>
    </button>
    <div class="dropdown-content">
        <ul>
            <li>
                @Html.ActionLink("By Departments", "Index", "Department", new { search = "", letter = "" }, new { id = "search-by-department-link" })
            </li>
            <li>
                @Html.ActionLink("By Name", "Index", "Faculty", new { search = "", letter = "" }, new { id = "search-by-faculty-link" })
            </li>
            <li class="dropdown-content-last">
                @Html.ActionLink("By Course", "Index", "Course", new { search = "", sort = "Name_asc", letter = "" }, new { id = "search-by-course-link" })
            </li>
        </ul>
    </div>
</div>
<!--Reports Button-->
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-centered dropdown">
    <button id="reports-link" class="btn nav-bar-button rounded-yellow-button">
        Reports
        <i class="fa fa-caret-down" aria-hidden="true"></i>
    </button>
    <div class="dropdown-content">
        <ul>
            <li>
                <a id="course-section-qualifications-link" href="@Url.Action("CourseSectionQualificationPercentageReport", "Reports")"> Course Section Qualifications Percentage Report </a>
            </li>
            <li>
                <a id="faculty-credentials-report-link" href="@Url.Action("FacultyCredentialsReport", "Reports")">Faculty Credentials Report</a>
            </li>
            <li>
                <a id="faculty-roster-link" href="@Url.Action("FacultyRoster","Reports")"> Faculty Roster Report </a>
            </li>
            <li>
                <a id="graduate-assistant-roster-link" href="@Url.Action("GradAssistantRoster","Reports")"> Graduate Assistant Roster Report </a>
            </li>
        </ul>
    </div>
</div>
<!--Guidelines and Instructions Button-->
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-centered dropdown">
    <button id="guidelines-and-instructions-link" class="btn nav-bar-button rounded-yellow-button">
        Guidelines/Instructions
        <i class="fa fa-caret-down" aria-hidden="true"></i>
    </button>
    <div class="dropdown-content">
        <ul>
            <li>
                <a id="etsu-mission-link" href="https://www.etsu.edu/president/mission.php" target="_blank"> ETSU Mission <i class="fa fa-external-link"></i></a>
            </li>
            <li>
                <a id="teaching-credential-standards-link" href="~/Documents/TeachingCredentialStandards.pdf" target="_blank"> Teaching Credential Standards <i class="fa fa-file-pdf-o"></i></a>
            </li>
            <li>
                <a id="sacs-guidelines-link" href="~/Documents/SACS.pdf" target="_blank">SACS Guidelines <i class="fa fa-file-pdf-o"></i></a>
            </li>
            <li>
                <a id="chair-instructions-link" href=@Url.Action("Index","ProfessionalQualifications") target="_blank">Chair Instructions <i class="fa fa-external-link"></i></a>
            </li>
            <li>
                <a id="graduate-faculty-appointment-guidelines-link" href="~/Documents/gradfacproc212.pdf" target="_blank">Graduate Faculty Appointment Guidelines <i class="fa fa-file-pdf-o"></i></a>
            </li>
        </ul>
    </div>
</div>

