﻿.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
}

.pagination > li {
  display: inline;
}

.pagination > li > a,
.pagination > li > span {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 12pt;
  position: relative;
  padding: 5px 0px;
  line-height: 1.428571429;
  text-decoration: none;
  background-color: #00326A;
  border:none;
  height: 3.5rem;
  width:3.5rem;
  transition: all 0.2s;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  padding-left:.5rem;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  padding-right:.5rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: white;
  background: rgba(0, 50, 106, 0.87);
  -webkit-box-shadow: 0px 6px 3px -2px rgba(164,164,164,0.79);
  -moz-box-shadow: 0px 6px 3px -2px rgba(164,164,164,0.79);
  box-shadow: 0px 6px 3px -2px rgba(164,164,164,0.79);
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: white;
  cursor: default;
  background: #214c7d;
  border: none;
}

.pagination > .disabled > span,
.pagination > .disabled > a,
.pagination > .disabled > a:focus {
  cursor: not-allowed;
  background-color: #00326A;
}
.pagination > .disabled > a:hover{
  border: none;
  background-color: #004087
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
}

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.pager {
  padding-left: 0;
  margin: 20px 0;
  text-align: center;
  list-style: none;
}

.pager:before,
.pager:after {
  display: table;
  content: " ";
}

.pager:after {
  clear: both;
}

.pager:before,
.pager:after {
  display: table;
  content: " ";
}

.pager:after {
  clear: both;
}

.pager li {
  display: inline;
}

.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 15px;
}

.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}

.pager .next > a,
.pager .next > span {
  float: right;
}

.pager .previous > a,
.pager .previous > span {
  float: left;
}

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #999999;
  cursor: not-allowed;
  background-color: #ffffff;
}

