﻿body {
}


.cssTableFacultyGuidlines th{
    text-align:center;
}

.cssTableFacultyGuidlines ul{
    padding: 20px;
}

.cssTableFacultyGuidlines td{
    padding: 20px;
    text-align:center;
}

h2{
    text-align:center;
}

.cssTableFacultyGuidlines.cssHeaderRow {
    padding: 40px;
    min-width: 200px;
}