﻿h2 {
    font-size: 16pt;
}

.table thead > tr > th,
.content-table.table thead > tr > th { 
    font-size: 12pt;
    border: none;
    background: #214c7d;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

.table tr th:first-child {
    border-top-left-radius: 0;
}

.table tr th:last-child {
    border-top-right-radius: 0;
}

.table tbody > tr > td,
.content-table.table tbody > tr > td
{ 
    font-size: 11pt;
}
.table tr:last-child td:first-child {
    border-bottom-left-radius: 0;
}
.table tr:last-child td:last-child {
    border-bottom-right-radius: 0;
}