﻿@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700|Roboto:100,300,400,500,700|Source+Sans+Pro:200,200i,300,400,600,700');
/*******************************Generic Site Items*******************************/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*------------Body-------------*/
body {
    min-width: 800px;
    font-size: 11pt;
}
.block-ui {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-color: transparent;
    background-color: rgba(000, 000, 000, 0.60);
    z-index: 100; /*To make sure they are on top*/
}
.block-ui-delete {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-color: transparent;
    background-color: rgba(000, 000, 000, 0.60);
    z-index: 100; /*To make sure they are on top*/
}
.loader-wheel {
    border: 16px solid #e2e2e2; /* Light grey */
    border-top: 16px solid #0092ff; /* Blue */
    -ms-border-radius: 50%;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    -ms-animation: spin 2s linear infinite;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.ajax-loader-wheel-sm {
    display: inline-flex;
    text-align: right;
    border: 5px solid #e2e2e2; /* Light grey */
    border-top: 5px solid #0092ff; /* Blue */
    -ms-border-radius: 50%;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    -ms-animation: spin 2s linear infinite;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.ajax-loader-wheel-md {
    display: inline-flex;
    text-align: right;
    border: 7px solid #e2e2e2; /* Light grey */
    border-top: 7px solid #0092ff; /* Blue */
    -ms-border-radius: 50%;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    -ms-animation: spin 2s linear infinite;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.ajax-loader-wheel-lg {
    display: inline-flex;
    text-align: right;
    border: 9px solid #e2e2e2; /* Light grey */
    border-top: 9px solid #0092ff; /* Blue */
    -ms-border-radius: 50%;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    -ms-animation: spin 2s linear infinite;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% {
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0); }
    100% { transform: rotate(360deg); }
}
.loader{
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -60px 0 0 -60px;
    color: #f0f0f0;
    font-size: 20pt;
    font-family:Roboto;
    font-weight: 300;
    text-align: center;
}
.body-content{
    height: 100%;
    background: linear-gradient(#a4a4a4 5px, #e4e4e4 15px); 
    padding-bottom: 2rem;
    padding-top: 2rem;
}
.card {
    height: 100%;
    min-height: 600px;
    max-width: 1300px;
    min-width: 800px;
    background: white;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
    box-shadow: 0 4px 8px 0 #000000, 0 6px 20px 0 #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.donut-chart {
    z-index: 2;
    width: 700px; 
    height: 450px;
    position: relative;
    left: 50%;
    margin-left: -350px;
}
.display-hidden {
    display: none;
}
.display-block {
    display: block;
}
.center-contents{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.badge {
    border-radius: 100%;
}
.display-hidden {
    display: none;
}
.display-block {
    display: block;
}

/*----------Row-----------*/
.row{
    height: auto;
}
.row-centered{
    margin-left: auto;
    margin-right: auto;
}
.row-left{
    text-align: left;
}
.row-right{
    text-align: right;
}

/*---------Column----------*/
.col-left{
    text-align: left;
}
.col-centered{
    text-align: center;
}
.col-right{
    text-align: right;
}
.col-vert-centered{
   line-height: 200px;
}

/*-------Animation--------*/
.shadow-box-gray:hover {
    -webkit-box-shadow: 0 10px 9px -5px #888888;
    -moz-box-shadow: 0 10px 9px -5px #888888;
    -moz-box-shadow: 0 10px 9px -5px rgba(136,136,136,1);
    box-shadow: 0 10px 9px -5px #888888;
    box-shadow: 0 10px 9px -5px #888888;
    box-shadow: 0 10px 9px -5px rgba(136,136,136,1);
}
.shadow-box-blue:hover {
    -webkit-box-shadow: 0 10px 9px -5px #00142b;
    -moz-box-shadow: 0 10px 9px -5px #00142b;
    -moz-box-shadow: 0 10px 9px -5px rgba(0,20,43,1);
    box-shadow: 0 10px 9px -5px #00142b;
    box-shadow: 0 10px 9px -5px #00142b;
    box-shadow: 0 10px 9px -5px rgba(0,20,43,1);
}
.grow-large-button:hover{
    transform: scale(1.01);
}
.grow-small-button:hover{
    transform: scale(1.07);
}
.glow-blue:hover {
    cursor: pointer;
    border-color: #0092ff;
    -webkit-box-shadow: 0 0 3px 0 #0092ff;
    -moz-box-shadow: 0 0 3px 0 #0092ff;
    -moz-box-shadow: 0 0 3px 0 rgba(0,146,255,1);
    box-shadow: 0 0 3px 0 #0092ff;
    box-shadow: 0 0 3px 0 #0092ff;
    box-shadow: 0 0 3px 0 rgba(0,146,255,1);
}

/*-------Titles--------*/
.content-title h1{
    color: #212121;
    font-size: 28pt;
    font-family:Roboto;
    font-weight: 300;
    padding-left: 2rem;
    padding-top: 1.5rem;
    vertical-align: baseline;
    margin: 0;
}
.content-title h2{
    color: #212121;
    font-size: 20pt;
    font-family:Roboto;
    font-weight: 300;
    padding-left: 2rem;
    padding-top: 1.5rem;
    vertical-align: baseline;
    margin: 0;
}
.content-title h3{
    color: #212121;
    font-size: 14pt;
    font-family:Roboto;
    font-weight: 300;
    padding-left: 2rem;
    padding-top: 1.5rem;
    vertical-align: baseline;
    margin: 0;
}

/*---------Paragraph----------*/
p{
    text-align: left;
    color: #212121;
    font-family: Arial;
    font-size: 14pt;
}
.legend p{
    padding-left: 3rem;
    color: #212121;
    font-size: 12pt;
    margin: 0;
}
.ellipsis{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 2rem;
}

/*---------Padding----------*/
.padding-top-2{
    padding-top: 2rem;
}
.padding-top-4{
    padding-top: 4rem;
}
.padding-top-6{
    padding-top: 6rem;
}
.padding-bottom-2{
    padding-bottom: 2rem;
}
.padding-bottom-4{
    padding-bottom: 4rem;
}
.padding-bottom-6{
    padding-bottom: 6rem;
}
.padding-left-2{
    padding-left: 2rem;
}
.padding-left-4{
    padding-left: 4rem;
}
.padding-left-6{
    padding-left: 6rem;
}
.padding-right-2{
    padding-right: 2rem;
}
.padding-right-4{
    padding-right: 4rem;
}
.padding-right-6{
    padding-right: 6rem;
}

/*---------Horizontal rule---------*/
.hr-yellow hr{
    margin-top: .75rem;
    border-top: .35rem solid #fff264;
}
.hr-blue hr{
    margin-top: .75rem;
    border-top: .35rem solid #203f60;
}

/*--------Buttons---------*/
.btn {
    font-size: 12pt;
    min-width: 8rem;
    vertical-align: baseline
}
.rounded-red-button{
    background-color: #F55541;
    border-radius: 4rem;
    color: white !important;
    font-family: 'Source Sans Pro', sans-serif;
    transition: all 0.2s;
}
.rounded-red-button:hover,
.rounded-red-button:active,
.rounded-red-button.active,
.rounded-red-button:focus
{
    background: #FF7866;
    color: white !important;
}
.rounded-green-button{
    background-color: #39A06B;
    border-radius: 4rem;
    color: white !important;
    font-family: 'Source Sans Pro', sans-serif;
    transition: all 0.2s;
}
.rounded-green-button:hover,
.rounded-green-button:active,
.rounded-green-button.active,
.rounded-green-button:focus
{
    background: #4EDB93;
    color: white !important;
}
.rounded-teal-button{
    background-color: #279393;
    border-radius: 4rem;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    transition: all 0.2s;
}
.rounded-teal-button:hover,
.rounded-teal-button:active,
.rounded-teal-button.active,
.rounded-teal-button:focus
{
    background: #30b5b5;
    color: white;
}
.rounded-border-yellow-button{
    background-color: transparent;
    border: 2px solid #F9DC5C;
    border-radius: 4rem;
    color: white !important;
    font-family: 'Source Sans Pro', sans-serif;
    transition: all 0.2s;
}
.rounded-border-yellow-button:hover,
.rounded-border-yellow-button:active
{
    background-color: #F9DC5C;
    border-color: #F9DC5C;
    color: #212121 !important;
}
.rounded-border-blue-button{
    background-color: transparent;
    border: 2px solid #214c7d;
    border-radius: 4rem;
    color: #214c7d !important;
    font-family: 'Source Sans Pro', sans-serif;
    transition: all 0.2s;
}
.rounded-border-blue-button:hover,
.rounded-border-blue-button:active,
.rounded-border-blue-button:focus
{
    border-color: #214c7d;
    background: #214c7d;
    color: #FFF !important;
    text-decoration: none;
}
.rounded-white-button{
    background-color: #FFF;
    border-radius: 4rem;
    color: #191919;
    font-family: 'Source Sans Pro', sans-serif;
    transition: all 0.2s;
}
.rounded-white-button:hover,
.rounded-white-button:active,
.rounded-white-button.active,
.rounded-white-button:focus
{
    background: #e4e4e4;
    color: #191919;
}
.rounded-blue-button{
    background-color: #00326A;
    border-radius: 4rem;
    color: white !important;
    font-family: 'Source Sans Pro', sans-serif;
    transition: all 0.2s;
}
.rounded-blue-button:hover,
.rounded-blue-button:active,
.rounded-blue-button.active,
.rounded-blue-button:focus
{
    background: #214c7d;
    color: white;
}
.rounded-dashed-button{
    height: 9rem;
    background-color: white;
    border-radius: 4rem;
    border:1px dashed #b4b4b4; 
    color: #b4b4b4;
    font-family: 'Source Sans Pro', sans-serif;
    transition: all 0.2s;
}
.rounded-dashed-button:hover,
.rounded-dashed-button:active,
.rounded-dashed-button.active,
.rounded-dashed-button:focus
{
    background: #f0f0f0;
    color: #a4a4a4;
    border-color: #a4a4a4;
}
.rounded-yellow-button{
    background-color: #F8DD5C;
    border-radius: 4rem;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    transition: all 0.2s;
}
.rounded-yellow-button:hover,
.rounded-yellow-button:active
{
    background: #214c7d;
    color: white;
}

/*---------Text Boxes-----------*/
.text-box{
    height: 3.5rem;
    border-radius: 4rem;
}

/*---------Select Boxes----------*/
.select-box{
    height: 3.4rem;
    border-radius:.75rem;
}

/*---------Labels------------*/
.label-small{
    margin-top: 3px;
    color: #212121;
    font-size: 12pt;
    font-family: 'Lato', sans-serif;
    padding-right: 1rem;
    padding-left: 1rem;
}
.label-large{
    color: #212121;
    font-size: 16pt;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

/*-----------------Sub-Content----------------*/
.sub-content .menu-row {
    -webkit-box-shadow: 0 12px 6px -4px #a2a2a2;
    -webkit-box-shadow: 0 12px 6px -4px rgba(162,162,162,0.85);
    -moz-box-shadow: 0 12px 6px -4px #a2a2a2;
    -moz-box-shadow: 0 12px 6px -4px rgba(162,162,162,0.85);
    box-shadow: 0 12px 6px -4px #a2a2a2;
    box-shadow: 0 12px 6px -4px rgba(162,162,162,0.85);
}
.sub-content h2 {
    font-size: 18pt;
    font-weight: 300;
    font-family: 'Roboto';
}
.sub-content .menu-button{
    background: #ffffff;
    font-size: 11pt;
    font-family: 'Roboto';
    color: #a4a4a4;
    vertical-align: baseline;
    margin: 0;
    height: 4rem;
    border: none;
    border-radius: 1rem 1rem 0 0;
}
.sub-content .menu-button.active {
    color: black;
    font-size: 14pt;
    height: 4rem;
    background: -webkit-linear-gradient(#dadada, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#dadada, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#dadada, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#dadada, white); /* Standard syntax */
}
.sub-content .menu-button:hover {
    color: #666666;
    background: -webkit-linear-gradient(#dadada, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#dadada, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#dadada, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#dadada, white); /* Standard syntax */
}
.sub-content hr {
    margin-top: 0;
    margin-bottom: 3rem;
    border-bottom: 3px solid #0092ff;
}
.triangle-outer{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 35px 0 35px;
    border-color: #0091ff transparent transparent transparent;
    position: relative;
    display: none;
    z-index: 1; /*Makes it so that it is on top of the break line*/
    top: 15px;
    left: auto;
    margin: auto;
}
.triangle-inner{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 35px 0 35px;
    border-color: #ffffff transparent transparent transparent;
    position: relative;
    display: none;
    z-index: 2; /*Makes it so that it is on top of the other triangle*/
    top: -10px;
    left: auto;
    margin: auto;
}
.sub-content .badge-red {
    height: 2.25rem;
    min-width: 2.25rem;
    background-color: #f55541;
    font-size: 10pt;
    font-weight: 300;
    padding: .4rem;
    text-align: center;
    font-family: 'roboto';
}

/*---------------Tables--------------*/
.content-table a{
    color: #191919;
}
.content-table th a{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 14pt;
}
.content-table th{
    height: 3.5rem;
    background: #214c7d;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 14pt;
}
.table{
    border-radius: 1rem;
    border: 1px solid #e4e4e4;
    border-collapse:separate;
}
.table thead > tr > th {
    padding-left: 1.5rem ;
}
.table tr th:first-child{
    border-top-left-radius:1rem;

}
.table tr th:last-child{
    border-top-right-radius: 1rem;
}
.table tr:last-child td:first-child{
    border-bottom-left-radius:1rem;
} 
.table tr:last-child td:last-child{
    border-bottom-right-radius:1rem;
} 
.content-table table td > a{
     color:#333333;
}
.content-table.table-striped > tbody > tr:nth-child(odd) > td{
  background-color: #e4e4e4;
}
.fcr-table-unspecified{
  background-color: #F55541 !important;
  color: white !important;
}
.content-table.table tbody > tr > td{
    border: none;
    vertical-align: middle;
    font-size: 12pt;
    padding-left: 2rem;
    color: #191919;
}
.content-table td{
    padding-left: 1rem;
}

/**************************************Detailed Site Items*****************************************/
/*---------Site header---------*/
#site-header{
    background: #00254d;
    border: none; 
    padding: 1.5rem;
    height: auto;
}
#semester-year{
    padding-left:1rem;
    font-size: 16pt;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    color: white;
}
#header-title{
    color: white;
    font-size: 24pt;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: transparent;
    border: none;
    text-decoration: none;
    margin-top: 1rem;
}
.login-label{
    margin-left:1rem;
    padding-top: 0;
}
.login-label a{
    display:none;
    visibility:hidden;
}
.login-label label{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16pt;
    font-weight:100;
}
.login-role label,
.login-role a 
{
    padding-top:.4rem;
    color: #d4d4d4;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 11pt;
    font-weight:300;
}
.logout-link{
    font-weight: 300;
    font-size: 12pt;
    text-decoration:none;
}
.officer-option-button {
    font-size: 14pt;
    min-width: 18rem;
    animation: none;
    transition: none;
}
.officer-option-button-active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    background: #214c7d;
}
.officer-option-button:focus {
    outline: none;
}
.officer-dropdown {
    position: relative;
    display: inline-block;
}
.officer-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0 8px 16px 0 #000000;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 3;
    border: #214c7d solid 3px;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding-bottom: 1.2rem;
}
.officer-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 12pt;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.officer-dropdown-content a:hover {
    background-color: #e4e4e4;
    border-left: #0092ff solid 4px;
}
.show {display:block;}
#footer-upper{
    background: #00254d;
    background-image:url(Images/mountains.png);
    height:10rem;
    background-repeat:no-repeat;
    background-position: center;
    background-position-y: 1.5rem;
}
#footer-bottom{
    background:#001933;
    background-image: url(Images/footer_logo_2014.png);
    background-position: center;
    background-position-y: 1rem;
    background-repeat: no-repeat;
    padding-top: 12rem;
    height: 20rem;
    width: 100%;
}
#footer-bottom p, #footer-bottom a{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 12pt;
    text-align: center;
}
#footer-bottom a:hover{
    color:#D4D6D8
}

/*--------------NavBar---------------*/
#home-link{
    border-radius: 2rem 0 0 2rem; 
}
#guidelines-and-instructions-link{
    border-radius: 0 2rem 2rem 0;
}
#guidelines-and-instructions-link:hover{
    border-radius: 0 2rem 0 0;
}
.nav-bar-button{
    border-radius: 0;
    position: relative;
    font-weight: 400;
    font-size: 14pt;
    height: 4rem;
    width: 100%;
    z-index: 2;
}
.nav-bar-button:focus{
    outline: none;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: block;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity ease-in-out .2s, transform ease-in-out .2s;
    transform: translateY(-3.5rem);
    position: absolute;
    background-color: white;
    border: 3px solid #214c7d;
    border-top: none;
    width:100%;
    box-shadow: none;
    z-index: 1;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    box-shadow: 0 4px 8px 0 #000000, 0 6px 20px 0 #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 1rem;
}
.dropdown-content a{
    font-size: 12pt;
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #191919;
    transition: all .05s ease-in-out;
}
.dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
.dropdown:hover .nav-bar-button{
    background: #214c7d;
    color:white;
}
.dropdown:hover #guidelines-and-instructions-link{
    background: #214c7d;
    color:white;
    border-radius: 0 2rem 0 0;
}
.dropdown-content a:hover{
    background: #e4e4e4;
    border-left: 4px solid #0092ff;
}
.dropdown-content:hover + button.nav-bar-button{
    background: #fcefb6;
    transition: all 0.3s ease-in-out 0, visibility 0 linear 0.3s, z-index 0 linear 0.01s;
}

/*---------------Filter-Bar-----------------*/
#clear-link a{
    color: #00162e;
}
.filter-clear{
    padding-top:.2rem;
    font-size: 12pt;
    height: 3.2rem;
    width: 6.2rem;
}
h1.ftcs-filter-bar-h1-text{
    color: #1B2A41;
    text-align: left;
    font-size: 36px;
    padding-top: 3rem;
    padding-left:1rem;
    padding-right:3rem;
    border-bottom: solid;
    border-bottom-color: #F8DD5C;
}
.filter-letter-button{
    text-decoration: none;
    font-size: 12pt;
    font-weight:300;
    min-width: 2.3rem;
    height: 3.5rem;
    padding: 0;
    padding-top: .5rem;
}
.filter-letter-button:first-child{
    padding-left: 1.5rem;
    padding-right: .75rem;
}
.filter-letter-button:last-child{
    padding-right: 1.5rem;
    padding-left: .75rem;
}
.filter-search-box{
    height: 3.5rem;
    border-radius: 2rem;
    text-align: left;
}
#search-button{
    position: absolute;
    right: .2rem;
    top: .1rem;
    background-image: url(Images/dark_search_button.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    font-size: 12pt;
    height: 3.3rem;
    width: 5rem;
    margin: 0;
}

/*----------Profile------------*/
#teacher-email a{
    color: #212121;
}
.profile-button{
    border-radius: 2rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #e4e4e4;
    border-bottom: none;
    height: 2.5rem;
    width: 20rem;
    background:#e4e4e4;
    height: 3.5rem;
    color: #787878;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 12pt;
}
.profile-label{
    color: #212121;
    font-size: 12pt;
    font-family: 'Lato', sans-serif;
}
.profile-button:active,
.profile-button.active, 
.profile-button:focus{
    background: #f9f9f9;
    border-color: #e4e4e4;
    transition: all 0.2s ease-in-out 0, visibility 0 linear 0.3s, z-index 0 linear 0.01s;
    color: #212121;
    -webkit-box-shadow: 0 5px 0 -1px #f9f9f9;
    -moz-box-shadow: 0 5px 0 -1px #f9f9f9;
    box-shadow: 0 5px 0 -1px #f9f9f9;
}
.profile-button:hover{
    background: #c4c4c4;
    border-color: #c4c4c4;
    transition: all 0.2s ease-in-out 0, visibility 0 linear 0.3s, z-index 0 linear 0.01s;
    color: #787878;
    box-shadow: none;
}
.profile-button.active:hover {
    color: #212121;
    border-color: #e4e4e4;
    background: #f9f9f9;
    -webkit-box-shadow: 0 5px 0 -1px #f9f9f9;
    -webkit-box-shadow: 0 5px 0 -1px rgba(249,249,249,1);
    -moz-box-shadow: 0 5px 0 -1px #f9f9f9;
    -moz-box-shadow: 0 5px 0 -1px rgba(249,249,249,1);
    box-shadow: 0 5px 0 -1px #f9f9f9;
    box-shadow: 0 5px 0 -1px rgba(249,249,249,1);
}
.profile-button a{
    color: #203f60;
    font-family: Raleway;
    font-size: 10pt;
    font-weight: bold;
    text-decoration: none;
}
.profile-button:hover a , 
.profile-button.active a,
.profile-button:active a, 
.profile-button:focus a{
    color: white;
    font-weight: normal;
}
.profile-content{
    padding: 1rem 2rem;
    background-color: #f9f9f9;
}
.profile-content-padding-right-2{
    padding-right: 2rem;
}
.profile-content-padding-left-2{
    padding-left: 2rem;
}

/*------------------Login-----------------------*/
.login-submit-button{
    width: 15rem;
    font-size: 14pt;
    font-weight: 300;
}
   
/*------------------Home-Page-------------------*/

.homepage-button{
    padding-top:3rem;
    width: 55rem;
    height: 8rem;
    font-size: 14pt;
    font-weight: 300;
    margin-top: 2rem;
}
.homepage-button-reports {
    padding-top: 2.5rem;
    width: 100%;
    height: 8rem;
    font-size: 12pt;
    font-weight: 300;
    margin-bottom: 1rem;
    margin-top: 2rem;
}
.homepage-report-loader {
    z-index: 1;
    position: absolute;
    top: 140px;
    left: 50%;
    margin-left: -60px;
}
.homepage-report-loading-message {
    z-index: 1;
    position: absolute;
    top: 270px;
    left: 50%;
    margin-left: -55px;
    font-size: 14pt;
    font-weight: 300;
}
.homepage-report-button-container{
    padding-top: 4em;
}

/*------------------Reports--------------------*/
.report-submit-button{
    width: 13rem;
    margin-left: 2rem;
}
.report-convert-button{
    width: 13rem;
}

/*------------------Faculty detail-------------------*/
.faculty-detail-previous-next-text{
    padding-top: 2.5rem;
    color: #a4a4a4;
}
.faculty-detail-previous-next-text:hover{
    color: #0092ff;
}
.faculty-detail-previous-next-text a{
    font-size: 12pt;
    color: #a4a4a4;
    font-family: Lato;
}
.faculty-detail-previous-next-text a:hover{
    color: #0092ff;
    text-decoration:none;
}
#faculty-name{
    padding-top: 1rem;
    padding-left: 0;
    text-align: center;
}
#faculty-title h3{
    padding-left: 0;
    padding-bottom: 1rem;
}
#faculty-email a{
    color: #212121;
    font-family: Lato;
    font-weight:300;
    font-size: 14pt;
    padding-top: 0;
    padding-bottom: 2rem;
    margin-bottom: 0;
}
#faculty-email a:hover{
    text-decoration:none;
    color:#0092ff;
}

a.course-history-text {
    color:#0092ff;
    text-decoration: underline;
}

/*******************Officer Tasks******************/
.task-button-link{
    padding: .25rem .75rem;
    font-size: 12pt;
}
.task-sentence{
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
}
.task-button{
    height: 3.5rem;
    width: 20rem;
    padding: .6rem;
    margin: 1rem;
    text-align:center;
    font-size: 12pt;
    font-weight: 300;
}
.task-button:hover{
    text-decoration:none;
}

/********************Credentials Tasks**********************/
/* Style the buttons that are used to open and close the accordion panel */
.program-of-study .rounded-blue-button {
    height: 9rem;
    cursor:default;
    width: 100%;
    -ms-border-radius: 2rem;
    border: none;
    outline: none;
    padding: 3rem;
    padding-left: 0;
    text-align: left;
    transition: none;
}
.program-of-study .rounded-blue-button:hover {
    background-color: #00326a;
}
.program-of-study-contents label {
    font-size: 18pt;
    padding-top: -2rem;
    font-family: 'roboto';
    -ms-border-top-left-radius: 2rem;
    -ms-border-top-right-radius: 2rem;
}
.program-of-study-contents .fa-chevron-right,
.program-of-study-contents .fa-chevron-down {
    font-size: 20pt;
    padding: 1rem;
}
.program-of-study-contents .fa-pencil {
    transform: scaleX(-1);
}
.program-of-study-contents .badge {
    height: 4rem;
    width: 4rem;
    background-color: #4A709C;
    font-size: 14pt;
    font-weight: 400;
    padding: 1.2rem;
    text-align: center;
    font-family: 'roboto';
}
.program-of-study .btn.open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
}
.program-of-study .btn.closed {
    border-radius: 3rem;
}
.program-of-study-button {
    text-align: left;
    background-color: #214c7d;
    border-radius: 3rem;
    height: 9rem;
    padding-top: 2rem;
}
.program-of-study-button:hover{
    background-color: #4a709c;
    color: white;
}
.program-of-study .panel.open{
    display: block; 
}
.program-of-study .panel.closed{
    display: none; 
}
.ajax-success {
    position: fixed;
    top: 1rem;
    left: 50%;
    margin-left:-25rem;
    min-height: 8rem;
    width: 50rem;
    font-size: 14pt;
    background-color: #39A06B;
    color: #FFFFFF;
    border-radius: 2rem;
    z-index: 99;
    text-align: center;
    padding-top: 2.5rem;
    font-family: 'Source Sans Pro', sans-serif;
    opacity: .95;
    -webkit-box-shadow: inset 0px 0px 67px -18px #0E723F;
    -webkit-box-shadow: inset 0px 0px 67px -18px rgba(14, 114, 63,1);
    -moz-box-shadow: inset 0px 0px 67px -18px #0E723F;
    -moz-box-shadow: inset 0px 0px 67px -18px rgba(14, 114, 63,1);
}

.ajax-error {
    position: fixed;
    top: 1rem;
    left: 50%;
    margin-left:-25rem;
    min-height: 8rem;
    width: 50rem;
    font-size: 14pt;
    background-color: #e96060;
    color: #FFFFFF;
    border-radius: 2rem;
    z-index: 99;
    text-align: center;
    padding-top: 2.5rem;
    font-family: 'Source Sans Pro', sans-serif;
    opacity: .95;
    -webkit-box-shadow: inset 0px 0px 67px -18px #0E723F;
    -webkit-box-shadow: inset 0px 0px 67px -18px rgba(14, 114, 63,1);
    -moz-box-shadow: inset 0px 0px 67px -18px #0E723F;
    -moz-box-shadow: inset 0px 0px 67px -18px rgba(14, 114, 63,1);
}
.add-program-button {
    cursor: pointer;
    padding: 2.5rem 2rem 2rem 3rem;
    width: 100%;
    font-size: 20pt;
    font-weight: 300;
    text-align: left;
    vertical-align: middle;
    border-radius: 3rem;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.program-of-study .panel {
    padding: 0 18px 18px 18px;
    background-color: #f0f0f0;
    border-bottom-left-radius: 3rem;
    border: 1px solid #dddddd;
    -ms-border-bottom-right-radius: 2rem;
    border-bottom-right-radius: 3rem;
}
.program-of-study .delete{
    color: #F55541;
    border: 1px solid #F55541;
    border-radius: 2rem;
    font-size: 12pt;
    background-color: transparent;
}
.program-of-study .delete:hover {
    background-color: #f55541;
    color: white;
}
.program-of-study .table {
    border: none !important; 
}
.program-of-study  th {
    font-size: 14pt; 
}
.program-of-study td{
    font-size: 12pt;
}
.program-of-study .table tbody > tr > td {
    vertical-align: middle;
}
.program-of-study .rounded-teal-button {
    font-size: 12pt;
}
.rounded-dashed-container {
    background-color: #f0f0f0;
    border-radius: 3rem;
    border: 1px dashed #a4a4a4; 
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    display: inline-block;
    padding: 2rem;
    font-size: 12pt;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: left;
    white-space: nowrap;
    -webkit-animation: growheight .5s; /* Safari 4.0 - 8.0 */
    -ms-animation: growheight .5s;
    animation: growheight .5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@-webkit-keyframes growheight {
    from {
        height: 8rem;
        width: 1200px;
    }
    to {
        height: 36rem;
        width: 700px;
    }
}
@keyframes growheight {
     from {
        height: 8rem;
        width: 1200px;
    }
    to {
        height: 36rem;
        width: 700px;
    }
}
.add-program-of-study-form {
    -webkit-animation: makevisible 2s; /* Safari 4.0 - 8.0 */
    -ms-animation: makevisible 2s;
    animation: makevisible 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@-webkit-keyframes makevisible {
    from {
        -ms-opacity: 0;
        opacity: 0;
    }
    to {
        -ms-opacity: 100;
        opacity: 100;
    }
}
@keyframes makevisible {
    from {
        -ms-opacity: 0;
        opacity: 0;
    }
    to {
        -ms-opacity: 100;
        opacity: 100;
    }
}
.add-program-of-study-form h2 {
    color: black;
    padding: 1rem 3rem;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}
.add-program-of-study-select {
    width: 30rem;
}
.program-of-study .remove-body,
.remove-body {
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -15rem 0 0 -30rem;
    height: 25rem;
    width: 60rem;
    border-radius: 3rem;
    background-color: #ffffff;
    color: #000000;
    padding: 3rem;
    -webkit-box-shadow: 0 0 50px 0 #000000;
    -webkit-box-shadow: 0 0 50px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 50px 0 #000000;
    -moz-box-shadow: 0 0 50px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 50px 0 #000000;
    box-shadow: 0 0 50px 0 rgba(0,0,0,0.75);
}
.remove-body h2 {
    padding: 0;
    padding-left: 2rem;
    text-align: left;
    font-family: "Roboto";
    font-weight: 300;
}
.remove-body hr {
    border: 1px solid #c4c4c4;
    margin: 1rem;
}
.remove-body p {
    padding-left: 3rem;
    padding-right: 3rem;
    font-family: "Source Sans Pro";
}

/************Incomplete Certifications**************/
.incomplete-cert .table {
    padding-bottom: 3rem;
    background-color: #e4e4e4;
}
.incomplete-cert .content-table.table-striped > tbody > tr:nth-child(even) > td{
  background-color: #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
}
.incomplete-cert .content-table.table-striped > tbody > tr:nth-child(odd) > td{
  background-color: #e4e4e4;
  border-bottom: 1px solid #d4d4d4;
}
.incomplete-cert .content-table.table tbody > tr > td {
    vertical-align: top;
}

/******Graduate Semester Credit Hours******/
#graduate-hours-table .content-table.table > tbody > tr > td{
    padding-left: .90em;
}
#graduate-hours-table .add-graduate-hour-button{
    cursor: pointer;
    width: 100%;
    font-size: 12pt;
    font-weight: 300;
    text-align: left;
    vertical-align: middle;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
#graduate-hours-table .view-graduate-hours{
    display: inline-flex;
}
#graduate-hours-table .edit-graduate-hours-view{
    display: inline;
}
#graduate-hours-table .rounded-red-button-edit{
    background-color: white;
    border-radius: 4rem;
    border-color: #F55541;
    color: #F55541 !important;
    font-family: 'Source Sans Pro', sans-serif;
    transition: all 0.2s;
}
#graduate-hours-table .rounded-red-button-add{
    background-color: white;
    border-radius: 4rem;
    border-color: #F55541;
    color: #F55541 !important;
    font-family: 'Source Sans Pro', sans-serif;
    transition: all 0.2s;
    border-width: 2px;
}

    