﻿@model IEnumerable<CourseCredentialVM>
@using FTCS.ViewModels.Course

<div class="incomplete-cert">
    <!--Table-->
    <!--Partialed so the update on table after ajax post will work-->
    <!--certification-table is used for ajax update-->
<table id="certification-table" class="table table-striped table-condensed content-table">
    <!--Table header-->
    <thead>
    <tr>
        <th>Faculty Name</th>
        <th>Course Name</th>
    </tr>
    </thead>
    <tbody>
    <!--Table content-->
    @foreach (var courseCredential in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(courseCredential.FacultyName, "FacultyProfile","Faculty", new { id = courseCredential.TeacherId, department = courseCredential.Department, CurrentView = "AllCourses"},null)
            </td>
            <td>
                @Html.DisplayFor(m => courseCredential.Name)
            </td>
                   
        </tr>
    }
    </tbody>
</table>
    </div>