﻿@model AcademicQualificationsVM
@using FTCS.ViewModels.FacultyProfile;
@using FTCS.ViewModels.Task;
@using FTCS.App_Code;

<div class="container">
    <!--Faculty profile labels-->
    <div class="row">
        <!--Rank-->
        <div id="faculty-rank-label" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-left profile-label">
            <label>Rank:</label>
        </div>
        <div id="faculty-rank" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-right profile-content-padding-right-2">
            @Model.Rank
        </div>
        <!--Employment Status-->
        <div id="empolyment-status-label" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-left profile-label profile-content-padding-left-2">
            <label>Employment Status:</label>
        </div>
        <div id="employment-status" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-right">
            @Model.EmploymentStatus
        </div>
    </div>
    <div class="row">
        <!--Date Of Rank-->
        <div id="date-of-rank-label" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-left profile-label">
            <label>Date of Rank:</label>
        </div>
        <div id="date-of-rank" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-right profile-content-padding-right-2">
            @Model.DateofRank
        </div>
        <!--Employment Category-->
        <div id="employment-category-label" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-left profile-label profile-content-padding-left-2">
            <label>Employment Category:</label>
        </div>
        <div id="employement-category" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-right">
            @Model.EmploymentCategory
        </div>
    </div>
    <!--Faculty profile data-->
    <div class="row">
        <!--Date Eligible for Next Rank-->
        <div id="next-rank-date-label" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-left profile-label">
            <label>Date Eligible for Next Rank:</label>
        </div>
        <div id="next-rank-date" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-right profile-content-padding-right-2">
            @Model.NextRank
        </div>
        <!--Years at ETSU-->
        <div id="years-at-etsu-label" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-left profile-label profile-content-padding-left-2">
            <label>Years at ETSU:</label>
        </div>
        <div id="years-at-etsu" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-right">
            @Model.WorkYear
        </div>
    </div>
    <div class="row">
        <!--Graduate Faculty Status-->
        <div id="faculty-status-label" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-left profile-label">
            <label>Graduate Faculty Status:</label>
        </div>
        <div id="faculty-status" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-right profile-content-padding-right-2">
            @Model.FacultyStatus
        </div>
        <!--Tenure Status-->
        <div id="tenure-status-label"class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-left profile-label profile-content-padding-left-2">
            <label>Tenure Status:</label>
        </div>
        <div id="tenure-status" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-right">
            @Model.Tenure
        </div>
    </div>
</div>
<!--Academic degree table-->
<!--Heading-->
<div class="row padding-top-2">
    <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-left">Academic Degrees</h2>
</div>
<!--Table-->
<table id="academic-degree-table" class="table table-striped content-table">
    <thead>
        <tr>
            <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                Degree
            </th>
            <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                Initials
            </th>
            <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                Discipline
            </th>
            <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                Institution
            </th>
            <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                Transcript on File
            </th>
        </tr>
    </thead>
    <tbody>
       @foreach (var degree in Model.Degrees)
       {
        <tr>
            <td>@Html.DisplayFor(modelItem => degree.Name)</td>
            <td>@Html.DisplayFor(modelItem => degree.Initial)</td>
            <td>@Html.DisplayFor(modelItem => degree.Discipline)</td>
            <td>@Html.DisplayFor(modelItem => degree.Institution)</td>
            <td>@Html.DisplayFor(modelItem => degree.Transcript)</td>
        </tr>
       }
    </tbody>
</table>
<!--Graduate Semester Credit in Discipline Table-->
<!--If the faculty member has graduate hours display the heading and table for graduate semester hours -->
<div id="graduate-hours-table">
    @if (User.IsInRole("Chair") && (bool)ViewData["Editable"])
    {
        @Html.Action("GraduateSemesterCreditHoursTable", "GraduateSemesterCreditHours", Model.Id);
    }
    else
    {
        if (Model.GraduateHours.Any())
        {
            <div class="row padding-top-2 @CSSHelper.hideIf(!Model.GraduateHours.Any())">
                <h2 class="col-left">Graduate Semester Credits in Discipline</h2>
            </div>
            <table id="graduate-semester-credit-table" class="table table-striped content-table @CSSHelper.hideIf(!Model.GraduateHours.Any())">
                <thead>
                    <tr>
                        <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            Discipline
                        </th>
                        <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            Graduate Hours
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.GraduateHours)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.GraduateDispline)</td>
                            <td>@Html.DisplayFor(modelItem => item.GraduateHour)</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
</div>


