﻿@*@model FTCS.ViewModels.FacultyProfile.CoursesTaughtVM*@
@*@using FTCS.ViewModels;*@
@*@using PagedList*@
@*@using PagedList.Mvc*@
@**@
@*<!--Courses taught table-->*@
@*<div class="container">*@
@*    <!--Heading-->*@
@*    <div class="row">*@
@*        <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-left">All Courses Taught</h2>*@
@*    </div>*@
@*    <!--Table-->*@
@*    <table id="courses-taught-table" class="table table-striped table-condensed content-table">*@
@*        <thead>*@
@*            <tr>*@
@*                <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">*@
@*                    Course ID*@
@*                </th>*@
@*                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">*@
@*                    Title*@
@*                </th>*@
@*                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">*@
@*                    Semester*@
@*                </th>*@
@*                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">*@
@*                    Certification*@
@*                </th>*@
@*            </tr>*@
@*        </thead>*@
@*        <tbody>*@
@*            @foreach (var item in Model.CoursesTaught)*@
@*            {*@
@*                <tr>*@
@*                    <td>@Html.DisplayFor(modelItem => item.CourseCode)</td>*@
@*                    <td>@Html.DisplayFor(modelItem => item.Name)</td>*@
@*                    <td>@item.SemesterTaught.ToString()</td>*@
@*                    <td>@item.Credential.Description</td>*@
@*                </tr>*@
@*            }*@
@*        </tbody>*@
@*    </table>*@
@*    <div class="row">*@
@*        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-centered padding-top-2">*@
@*            @Ajax.ActionLink($"{Model.NextYearState} Courses Taught By Faculty", "CoursesTaught", new { id = Model.ID, department = Model.Department, year = "Current" }, *@
@*            new AjaxOptions()*@
@*            {*@
@*                HttpMethod = "GET",*@
@*                InsertionMode = InsertionMode.Replace,*@
@*                UpdateTargetId = "faculty-profile-panel"*@
@*            }, new { id = "current-courses-button", @class = "btn rounded-blue-button" })*@
@*        </div>*@
@*    </div>*@
@*</div>*@
@**@
