﻿@model IEnumerable<FTCS.ViewModels.FacultyProfile.CoordinationInfoVM>
@using FTCS.ViewModels.Reports;

<div class="container">
    <!--Heading-->
    <div class="row">
        <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-left">Coordination Information</h2>
    </div>
    <!--Table-->
    <table id="coordination-information" class="table table-striped table-condensed content-table">
        <thead>
            <tr>
                <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    Degree Name
                </th>
                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    Level
                </th>
                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    Degree
                </th>
                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    How Qualified
                </th>
                <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    Date Started
                </th>
                <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    Date Ended
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.DegreeName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Level)</td>
                    <td>@Html.DisplayFor(modelItem => item.Degree)</td>
                    <td>@Html.DisplayFor(modelItem => item.HowQualified)</td>
                    <td>@Html.DisplayFor(modelItem => item.DateStarted)</td>
                    <td>@Html.DisplayFor(modelItem => item.DateEnded)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
