﻿@model IEnumerable<CourseCredentialVM>
@using FTCS.ViewModels.Course;

<!--Courses taught table-->
<div class="container">
    <!--Heading-->
    <div class="row">
        <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-2 col-left">Course History</h2>
    </div>
    <!--Table for course description-->
    <table id="course-description-table" class="table table-striped table-condensed content-table">
        <thead>
            <tr>
                <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    Course ID
                </th>
                <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    Title
                </th>
                <th class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    Description
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@(Model.First().CourseCode)</td>
                <td>@(Model.First().Name)</td>
                <td>@(Model.First().Description)</td>
            </tr>
        </tbody>
    </table>
    <!--Table for course history-->
    <table id="course-history-table" class="table table-striped table-condensed content-table">
        <thead>
            <tr>
                <th class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    Semester Taught
                </th>
                <th class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    Certification
                </th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>@item.SemesterTaught.ToString()</td>
                <td>@item.Credential.Description</td>
            </tr>
        }
        </tbody>
            
    </table>
    <!--Return to courses taught page link-->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-centered padding-top-2">
            @*TODO find a better way to get the id of the teacher we are viewing for course history*@
            @Ajax.ActionLink("Return to Courses Taught", "CoursesTaught", new {@id = ViewContext.RouteData.Values["Id"], department = "CSCI", year="Current"}, new AjaxOptions()
            {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "faculty-profile-panel"
            }, new {@class = "btn rounded-blue-button"})
        </div>
    </div>
</div>
