﻿@model CourseCredentialVM
@using FTCS.ViewModels.Course
@{
    var certificationItemId = $"{Model.TeacherId}-{Model.Rubric}-{Model.Number}";
}

<!--Faculty name and Course name-->
<tr id="@certificationItemId">
    <td>
        @Html.DisplayFor(m => m.CourseCode) <br/>
        @if ((string) ViewData["Year"] == "Current")
        {
            @Ajax.ActionLink("Course History", "CoursesHistory", new { id = Model.TeacherId, courseRubric = Model.Rubric, courseNumber = Model.Number, department = Model.Department }, new AjaxOptions()
       {
           InsertionMode = InsertionMode.Replace,
           UpdateTargetId = "faculty-profile-panel",
           OnComplete = "loadAllAjaxFunctions()"
       }, new { @class = "course-history-text" })
        }
    </td>
    <td>
        @Html.DisplayFor(m => m.Name)
    </td>
    @if ((string)ViewData["Year"] == "Current")
    {
        <td>
            @Html.DisplayFor(m => m.Description)
        </td>
    }
    <td>
        @Model.SemesterTaught.ToString()
    </td>
    @if ((bool)ViewData["Editable"])
    {
        <td>
            @using (Ajax.BeginForm("Update", "Certifications", null, new AjaxOptions()
            {
                OnComplete = "ajaxSuccess(xhr, status)",
                OnFailure = "ajaxError(xhr, status, error)"
            }, new { @class = "auto-submit" }))
            {
                @Html.HiddenFor(m => m.TeacherId)
                @Html.HiddenFor(m => m.Rubric)
                @Html.HiddenFor(m => m.Number)
                @Html.HiddenFor(m => m.SemesterTaught.Year)
                @Html.HiddenFor(m => m.SemesterTaught.Month)
                @Html.DropDownListFor(m => m.Credential.Id, ViewData["CredentialOptions"] as List<SelectListItem>, new {@class="select-box"})
                <button class="hidden"></button>
            }
        </td>
    }
    else
    {
        <td>
            @Model.Credential.Description
        </td>
    }
</tr>
<!--Description, semester and certification-->
@*<tr class="hidden">*@
@*    <td colspan="2">*@
@*        <!--Table within a table for the sub-content-->*@
@*        <table>*@
@*            <!--Column Headers-->*@
@*            <thead>*@
@*                <tr>*@
@*                    <td class="col-md-8">*@
@*                        <b>Description</b>*@
@*                    </td>*@
@*                    <td class="col-md-1" style="padding-left: 1.75rem;">*@
@*                        <b>Semester</b>*@
@*                    </td>*@
@*                    <td class="col-md-3" style="padding-left: 1.75rem;">*@
@*                        <b>Certification</b>*@
@*                    </td>*@
@*                </tr>*@
@*            </thead>*@
@*            <!--Column Content-->*@
@*            <tbody>*@
@*                <tr>*@
@*                    <td>*@
@*                        @Model.CourseDescription*@
@*                    </td>*@
@*                    <td>*@
@*                        @Model.Semester*@
@*                    </td>*@
@*                    <!--Certification Form-->*@
@*                    <td>*@
@*                        @using (Ajax.BeginForm("Update", null, new AjaxOptions()*@
@*                        {*@
@*                            HttpMethod = "POST",*@
@*                            UpdateTargetId = "certification-table",*@
@*                            InsertionMode = InsertionMode.Replace,*@
@*                            OnSuccess = "ajaxSuccessIC()",*@
@*                            LoadingElementId = "ajax-loading-" + Model.CourseNumber + "-" + Model.TeacherId + "-" + Model.Semester*@
@*                        }, new { @class = "auto-submit" }))*@
@*                        {*@
@*                            @Html.HiddenFor(m => m.TeacherId)*@
@*                            @Html.HiddenFor(m => m.CourseRubric)*@
@*                            @Html.HiddenFor(m => m.CourseNumber)*@
@*                            @Html.HiddenFor(m => m.CourseDescription)*@
@*                            @Html.HiddenFor(m => m.Course)*@
@*                            @Html.HiddenFor(m => m.Semester)*@
@*                            @Html.HiddenFor(m => m.FacultyName)*@
@*                            <!--Select and auto-submit for the certification-->*@
@*                            @Html.DropDownListFor(m => Model.Credential.Id,*@
@*                                    ViewData["CertificationOptions"] as List<SelectListItem>,*@
@*                                    new { @class = "select-box glow-blue" })*@
@*                            <input class="auto-submit hidden" type="submit" />*@
@*                        }*@
@*                        <div id="ajax-loading-@Model.CourseNumber-@Model.TeacherId-@Model.Semester" class="ajax-loader-wheel-sm" style="display:none">*@
@*                        </div>*@
@*                    </td>*@
@*                </tr>*@
@*            </tbody>*@
@*        </table>*@
@*    </td>*@
@*</tr>*@
