﻿@model IEnumerable<CourseCredentialVM>
@using FTCS.ViewModels.Course
<!--Courses taught table--> 
<div class="container">
    <!--Heading-->
    <div class="row">
        <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-left">Courses Taught: </h2>
    </div>
    <!--Table-->
    <table id="course-taught-table" class="table table-striped table-condensed content-table">
        <thead>
            <tr>
                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    Course ID
                </th>
                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    Title
                </th>
                @if ((string)ViewData["Year"] == "Current")
                {
                    <th class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                        Description
                    </th>
                }
                
                <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    Semester
                </th>
                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    Certification
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @Html.Partial("_CourseCredentialItem", item)
            }
        </tbody>
    </table>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-centered padding-top-2">
            @Ajax.ActionLink($"{ViewData["NextYearState"]} Courses Taught By Faculty", "CoursesTaught", new { id = ViewData["TeacherId"], department = ViewData["DepartmentCode"], year = ViewData["NextYearState"] },
            new AjaxOptions()
            {
                UpdateTargetId = "faculty-profile-panel",
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                OnComplete = "loadAllAjaxFunctions()"

            }, new { id = "all-courses-button", @class = "btn rounded-blue-button" })
        </div>
    </div>
</div>
