﻿@model FacultyNavigationVM
@using FTCS.App_Code
@using FTCS.ViewModels.FacultyProfile

<div class="container">
    <div class="row padding-top-2">
        <!--Previous Faculty-->
        @if (Model.PreviousFaculty != null)
        {
            <div id="previous-name" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-left faculty-detail-previous-next-text">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                @Html.ActionLink(Model.PreviousFaculty.NAME, "FacultyProfile",
                    new { id = Model.PreviousFaculty.BANNER_ID, department = Model.PreviousFaculty.DepartmentCode, Model.CurrentView},new {@class="prev-faculty"})
            </div>
        }
        else
        {
            <!--Display nothing-->
            <div id="previous-name" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-left faculty-detail-previous-next-text"></div>
        }
        <!--Faculty Name-->
        <div class="content-title">
            <h1 id="faculty-name" class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-centered"> @Model.CurrentFaculty.NAME </h1>
        </div>
        <!--Next Faculty-->
        @if (Model.NextFaculty != null)
        {
            <div id="next-name" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-right faculty-detail-previous-next-text">
                @Html.ActionLink(Model.NextFaculty.NAME, "FacultyProfile",
                    new { id = Model.NextFaculty.BANNER_ID, department = Model.NextFaculty.DepartmentCode, Model.CurrentView }, new { @class = "next-faculty" })
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </div>
        }
        else
        {
            <!--Display nothing-->
            <div id="next-name" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-left faculty-detail-previous-next-text"></div>
        }
    </div>
    <div class="row hr-yellow">
        <hr />
    </div>
    <!--Faculty Title-->
    <div class="row">
        <div id="faculty-title" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-centered content-title">
            <h3>@Model.CurrentFaculty.Title</h3>
        </div>
    </div>
    <!--Faculty Email-->
    <div class="row padding-bottom-2">
        <div id="faculty-email" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-centered padding-bottom-2">
            <a href="mailto:@Model.CurrentFaculty.Email" target="_top">@Model.CurrentFaculty.Email</a>
        </div>
    </div>
</div>
<!--Sub-menu tabs-->
<div class="sub-content">
    <div class="row menu-row padding-top-2">
        <!--Academic Qualifications Tab-->
        <a id="academic-qualifications-button" class="btn btn-default menu-button @CSSHelper.activeIf(Model.CurrentView == "Academic")"
           data-ajax="true"
           data-ajax-method="GET"
           data-ajax-mode="replace"
           data-ajax-complete="loadAllAjaxFunctions()"
           data-ajax-update="#faculty-profile-panel"
           data-ajax-loading="#ajax-loading-aq"
           href="@Url.Action("Academic", new {id = Model.Id, department = Model.Department})">
            Academic Qualifications
            <div id="ajax-loading-aq" class="ajax-loader-wheel-sm" style="display:none">
            </div>
            <div class="triangle-outer" style="@CSSHelper.VisibleIf(Model.CurrentView == "Academic" || Model.CurrentView == null)"></div>
            <div class="triangle-inner" style="@CSSHelper.VisibleIf(Model.CurrentView == "Academic" || Model.CurrentView  == null)"></div>
        </a>
        <!--Professional Qualifications Tab-->
        @if (Model.HasProfessionalQualifications)
        {
            <a id="profile-qualifications-button" class="btn btn-default menu-button @CSSHelper.activeIf(Model.CurrentView == "Professional")"
               data-ajax="true"
               data-ajax-method="GET"
               data-ajax-mode="replace"
               data-ajax-complete="loadAllAjaxFunctions()"
               data-ajax-update="#faculty-profile-panel"
               data-ajax-loading="#ajax-loading-pq"
               href="@Url.Action("Professional", new {id = Model.Id, department = Model.Department})">
                Professional Qualifications
                <div id="ajax-loading-pq" class="ajax-loader-wheel-sm" style="display:none">
                </div>
                <div class="triangle-outer" style="@CSSHelper.VisibleIf(Model.CurrentView == "Professional")"></div>
                <div class="triangle-inner" style="@CSSHelper.VisibleIf(Model.CurrentView == "Professional")"></div>
            </a>
        }
        <!--Course Taught Tab-->
        <a id="courses-taught-button"
           class="btn btn-default menu-button @CSSHelper.activeIf(Model.CurrentView == "CurrentCourses" || Model.CurrentView == "AllCourses")"
           data-ajax="true"
           data-ajax-method="GET"
           data-ajax-mode="replace"
           data-ajax-complete="loadAllAjaxFunctions()"
           data-ajax-update="#faculty-profile-panel"
           data-ajax-loading="#ajax-loading-ct"
           href="@Url.Action("CoursesTaught", new {id = Model.Id, department = Model.Department, year = "Current"})">
            Courses Taught
            <div id="ajax-loading-ct" class="ajax-loader-wheel-sm" style="display:none">
            </div>
            <div class="triangle-outer" style="@CSSHelper.VisibleIf(Model.CurrentView == "CurrentCourses" || Model.CurrentView == "AllCourses")"></div>
            <div class="triangle-inner" style="@CSSHelper.VisibleIf(Model.CurrentView == "CurrentCourses" || Model.CurrentView == "AllCourses")"></div>
        </a>
        <!--Coordinator Information Tab-->
        @if (Model.IsCoordinator)
        {
            <a id="coordinator-information-button" class="btn btn-default menu-button @CSSHelper.activeIf(Model.CurrentView == "Coordinator")"
               data-ajax="true"
               data-ajax-method="GET"
               data-ajax-mode="replace"
               data-ajax-complete="loadAllAjaxFunctions()"
               data-ajax-update="#faculty-profile-panel"
               data-ajax-loading="#ajax-loading-ci"
               href="@Url.Action("Coordinator", new {id = Model.Id, department = Model.Department})">
                Coordinator Information
                <div id="ajax-loading-ci" class="ajax-loader-wheel-sm" style="display:none">
                </div>
                <div class="triangle-outer" style="@CSSHelper.VisibleIf(Model.CurrentView == "Coordinator")"></div>
                <div class="triangle-inner" style="@CSSHelper.VisibleIf(Model.CurrentView == "Coordinator")"></div>
            </a>
        }
    </div>
    <hr />
</div>

<!--Scripts-->
@Scripts.Render("~/Scripts/FTCS/sub-menu.js")