﻿@model FacultyDetailFilterVM
@using FTCS.ViewModels

<!--Search and filter section-->
<div class="container">
    <div class="row">
        @using (Html.BeginForm("FacultyProfile", "Faculty", FormMethod.Get, new { id = "faculty-profile-form", @class="auto-submit" }))
        {
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-right">
                <label class="label-small">Department:</label>
                @Html.DropDownList("Department", Model.Departments, new { @class = "select-box glow-blue" })
                <label class="label-small">Faculty Name:</label>
                @Html.DropDownList("Id", Model.FacultyName, new { @class = "select-box glow-blue" })
                @Html.Hidden("CurrentView",Model.CurrentView)
                <input class="hidden" type="submit"/>
            </div>
        }
    </div>
</div>
