﻿@model  ProfessionalQualificationsVM
@using FTCS.App_Code;
@using FTCS.ViewModels.FacultyProfile;

<div class="container">
    <!--Narrative table-->
    <div id="narrative-table-title" class="row @CSSHelper.hideIf(@Model.Narrative == null)">
        <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-left">Narrative</h2>
    </div>
    <table id="narrative-table" class="table table-striped table-condensed content-table @CSSHelper.hideIf(@Model.Narrative == null)">
        <thead>
            <tr>
                <th class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    Description
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Narrative</td>
            </tr>
        </tbody>
    </table>
    <!--Related Work/Professional Experiences table-->
    <div id="related-work-table-title" class="row padding-top-2 @CSSHelper.hideIf(!@Model.RelatedWorkExperience.Any())">
        <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-left">Related Work/Professional Experience</h2>
    </div>

    <table id="related-work-table" class="table table-striped table-condensed content-table @CSSHelper.hideIf(!@Model.RelatedWorkExperience.Any())">
        <thead>
            <tr>
                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    Place
                </th>
                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    Position
                </th>
                <th class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    Responsibilities
                </th>
                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    Date Started
                </th>
                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    Date Ended
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var relatedWorkExperienceVm in Model.RelatedWorkExperience)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => relatedWorkExperienceVm.Place)</td>
                    <td>@Html.DisplayFor(modelItem => relatedWorkExperienceVm.Position)</td>
                    <td>@Html.DisplayFor(modelItem => relatedWorkExperienceVm.Responsibilities)</td>
                    <td>@Html.DisplayFor(modelItem => relatedWorkExperienceVm.DateStarted)</td>
                    <td>@Html.DisplayFor(modelItem => relatedWorkExperienceVm.DateEnded)</td>
                </tr>
            }
        </tbody>
    </table>
    @if (Model.Award.Any())
    {
        <!--Awards table-->
        <div id="awards-table-title" class="row content-title padding-top-2 @CSSHelper.hideIf(!@Model.Award.Any())">
            <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-left">Awards</h2>
        </div>
        <table id="awards-table" class="table table-striped table-condensed content-table @CSSHelper.hideIf(!@Model.Award.Any())">
            <thead>
                <tr>
                    <th class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        Name
                    </th>
                    <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        Awarded By
                    </th>
                    <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        Date
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Award)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.AwardedBy)</td>
                        <td>@Html.DisplayFor(modelItem => item.Date)</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    @if (Model.OtherAchievements != null)
    {
        <!--Other Achievements table-->
        <div id="other-achievements-table-title" class="row padding-top-2 @CSSHelper.hideIf(!@Model.OtherAchievements.Any())">
            <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-left">Other Achievements</h2>
        </div>
        <table id="other-achievements-table" class="table table-striped table-condensed content-table @CSSHelper.hideIf(!@Model.OtherAchievements.Any())">
            <thead>
                <tr>
                    <th class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        Description
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.OtherAchievements</td>
                </tr>
            </tbody>
        </table>
    }
    @if (!string.IsNullOrEmpty(Model.OtherAchievements))
    {
        <!--Other Demonstrated Competencies table-->
        <div id="other-demonstrated-competencies-table-title" class="row padding-top-2 @CSSHelper.hideIf(!@Model.OtherDemonstratedCompetencies.Any())">
            <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-left">Other Demonstrated Competencies</h2>
        </div>
        <table id="other-demonstrated-competencies-table" class="table table-striped table-condensed content-table @CSSHelper.hideIf(!@Model.OtherDemonstratedCompetencies.Any())">
            <thead>
                <tr>
                    <th class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        Description
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.OtherDemonstratedCompetencies</td>
                </tr>
            </tbody>
        </table>
    }
    @if (!string.IsNullOrEmpty(Model.PublicationCitation))
    {
        <!--Publication Citations table-->
        <div id="publication-citations-table-title" class="row padding-top-2 @CSSHelper.hideIf(!@Model.PublicationCitation.Any())">
            <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-left">Publication Citations</h2>
        </div>
        <table id="publication-citations-table" class="table table-striped table-condensed content-table @CSSHelper.hideIf(!@Model.PublicationCitation.Any())">
            <thead>
                <tr>
                    <th class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        Citations
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.PublicationCitation</td>
                </tr>
            </tbody>
        </table>
    }
    @if (Model.License.Any())
    {
        <!--Licenses table-->
        <div id="licenses-table-title" class="row @CSSHelper.hideIf(!@Model.License.Any())">
            <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-left">Licenses</h2>
        </div>
        <table id="licenses-table" class="table table-striped table-condensed content-table @CSSHelper.hideIf(!@Model.License.Any())">
            <thead>
                <tr>
                    <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        Name
                    </th>
                    <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        Awarded By
                    </th>
                    <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        Date Awarded
                    </th>
                    <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        Date Expires
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.License)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.AwardedBy)</td>
                        <td>@Html.DisplayFor(modelItem => item.DateAwarded) </td>
                        <td>@Html.DisplayFor(modelItem => item.DateExpires) </td>
                        <!--Need to do date instead of just month for awarded and expires-->
                    </tr>
                }
            </tbody>
        </table>
    }
    @if (Model.Certification.Any())
    {
        <!--Certification table-->
        <div id="certification-table-title" class="row @CSSHelper.hideIf(@Model.Certification == null)">
            <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-left">Certification</h2>
        </div>
        <table id="certification-table" class="table table-striped table-condensed content-table @CSSHelper.hideIf(@Model.Certification == null)">
            <thead>
                <tr>
                    <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        Name
                    </th>
                    <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        Organization
                    </th>
                    <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        Date Awarded
                    </th>
                    <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        Date Expires
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Certification)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Organization)</td>
                        <td>@Html.DisplayFor(modelItem => item.DateAwarded) </td>
                        <td>@Html.DisplayFor(modelItem => item.DateExpires) </td>
                        <!--Need to do date instead of just month for awarded and expires-->
                    </tr>
                }
            </tbody>
        </table>
    }
    @if (!string.IsNullOrEmpty(Model.DocumentedExcellenceInTeaching))
    {
        <!--Documented Excellence in Teaching table-->
        <div id="documented-excellence-table-title" class="row @CSSHelper.hideIf(!@Model.DocumentedExcellenceInTeaching.Any())">
            <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-left">Documented Excellence in Teaching</h2>
        </div>
        <table id="documented-excellence-table" class="table table-striped table-condensed content-table @CSSHelper.hideIf(!@Model.DocumentedExcellenceInTeaching.Any())">
            <thead>
                <tr>
                    <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        Description
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.DocumentedExcellenceInTeaching</td>
                </tr>
            </tbody>
        </table>
    }
    @if (Model.PresentedPaper.Any())
    {
        <!--Presented paper table-->
        <div id="presented-paper-table-title" class="row @CSSHelper.hideIf(!@Model.PresentedPaper.Any())">
            <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-left">Presented Papers</h2>
        </div>
        <table id="presented-paper-table" class="table table-striped table-condensed content-table @CSSHelper.hideIf(!@Model.PresentedPaper.Any())">
            <thead>
                <tr>
                    <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        Title
                    </th>
                    <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        Conference
                    </th>
                    <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        Location
                    </th>
                    <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        Date
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.PresentedPaper)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Title)</td>
                        <td>@Html.DisplayFor(modelItem => item.Conference)</td>
                        <td>@Html.DisplayFor(modelItem => item.Location) </td>
                        <td>@Html.DisplayFor(modelItem => item.Date) </td>
                        <!--Need to do date instead of just month for date-->
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
