﻿@model PaginatedTableVM<FacultyCourseVM>
@using FTCS.App_Code
@using FTCS.ViewModels 
 
@{
    ViewBag.Title = "Faculty Who Have Taught";
}
<div class="container">
    <!--Heading section-->
    <div class="row padding-top-4 content-title">
        <h1 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-left">@ViewBag.Heading</h1>
    </div>
    <div class="hr-yellow">
        <hr />
    </div>
    <div id="course-name" class="row">
        <h3 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-left">@ViewBag.CourseName</h3>
    </div>
    <div class="row padding-top-2">
        <table class="table table-striped table-condensed content-table">
            <thead>
                <tr>
                    <th class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <a href="@TableSorter.SetNextSort(
                            "FacultyWhoHaveTaught", new
                            {
                                Rubric = ViewBag.Rubric,
                                Number = ViewBag.Number
                            },
                            Model.FilterBarVM.Sort,
                            Html.NameFor(m => m.TableLineItemsVMs.FirstOrDefault().NAME).ToString()
                            )">
                            @Html.DisplayNameFor(m => m.TableLineItemsVMs.FirstOrDefault().NAME).ToString()
                        </a>
                        @TableSorter.DisplayCurrentSort(Model.FilterBarVM.Sort, @Html.NameFor(model => model.TableLineItemsVMs.First().NAME).ToString())
                    </th>
                    <th class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <a href="@TableSorter.SetNextSort(
                            "FacultyWhoHaveTaught", new
                            {
                                Rubric = ViewBag.Rubric,
                                Number = ViewBag.Number
                            },
                            Model.FilterBarVM.Sort,
                            Html.NameFor(m => m.TableLineItemsVMs.FirstOrDefault().HOME_DEPARTMENT).ToString()
                            )">
                            @Html.DisplayNameFor(m => m.TableLineItemsVMs.FirstOrDefault().HOME_DEPARTMENT).ToString()
                        </a>
                        @TableSorter.DisplayCurrentSort(Model.FilterBarVM.Sort, @Html.NameFor(model => model.TableLineItemsVMs.First().HOME_DEPARTMENT).ToString())
                    </th>
                    <th class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <a href="@TableSorter.SetNextSort(
                            "FacultyWhoHaveTaught", new
                            {
                                Rubric = ViewBag.Rubric,
                                Number = ViewBag.Number
                            },
                            Model.FilterBarVM.Sort,
                            Html.NameFor(m => m.TableLineItemsVMs.FirstOrDefault().LastSemesterTaught).ToString()
                            )">
                            @Html.DisplayNameFor(m => m.TableLineItemsVMs.FirstOrDefault().LastSemesterTaught)
                        </a>
                        @TableSorter.DisplayCurrentSort(Model.FilterBarVM.Sort, @Html.NameFor(model => model.TableLineItemsVMs.First().College).ToString())
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.TableLineItemsVMs)
                {
                    <tr>
                        <td>@Html.ActionLink(@item.NAME, "FacultyProfile", "Faculty", new { id = item.BANNER_ID, department = item.DepartmentCode }, null)</td>
                        <td>@Html.DisplayFor(modelItem => item.HOME_DEPARTMENT)</td>
                        <td>@item.LastSemesterTaught.ToString()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>