﻿@model FacultyDetailVM
@using FTCS.ViewModels;
@using FTCS.App_Code;
@using FTCS.Controllers

@{
    ViewBag.Title = "Faculty Profile";
}
<div class="container">
    <!--Filtering section-->
    <div class="row padding-top-2">
        @Html.Action("FacultyProfileFilter", new {id = Model.Id,Model.Department, Model.CurrentView})
    </div>
    <!--Navigation section, Faculty title and Email, and sub-content menu-->
    <div class="row padding-top-2">
    @Html.Action("FacultyDepartmentNavigation", new { id = Model.Id, department = Model.Department, Model.CurrentView})
    </div>
    <!--Profile Panel Section-->
    <div class="row container">
        <div id="faculty-profile-panel" class="panel">
        @Html.Action("ShowFacultyView", new { id = Model.Id, department = Model.Department, currentView = Model.CurrentView })
        </div>
    </div>
</div>


