﻿@model PaginatedTableVM<FacultyVM>
@using PagedList.Mvc;
@using PagedList;
@using FTCS.ViewModels;
@using FTCS.App_Code;

@{
    ViewBag.Title = "Faculty by Name";
}

<!--Heading section-->
<div class="container">
    <div class="row padding-top-4 content-title">
        <h1 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-left">List of Faculty</h1>
    </div>
    <div class="row hr-yellow">
        <hr />
    </div>
    <!--Search and filter section-->
    <div class="row">
        @Html.Partial("_FilterBar", Model.FilterBarVM)
    </div>
    <div class="row">
        <table class="table table-striped table-condensed content-table">
            <thead>
                <tr>
                    <th class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <a href="@TableSorter.SetNextSort(
                                     "Index", new
                                     {
                                         Letter = Model.FilterBarVM.Letter,
                                         Search = Model.FilterBarVM.Search,
                                         Department = Model.FilterBarVM.Department
                                     },
                                     Model.FilterBarVM.Sort,
                                     Html.NameFor(m => m.TableLineItemsVMs.FirstOrDefault().NAME).ToString()
                                     )">
                            @Html.DisplayNameFor(m => m.TableLineItemsVMs.FirstOrDefault().NAME).ToString()
                        </a>
                        @TableSorter.DisplayCurrentSort(Model.FilterBarVM.Sort, @Html.NameFor(model => model.TableLineItemsVMs.First().NAME).ToString())
                    </th>
                    <th class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <a href="@TableSorter.SetNextSort(
                                     "Index", new
                                     {
                                         Letter = Model.FilterBarVM.Letter,
                                         Search = Model.FilterBarVM.Search,
                                         Department = Model.FilterBarVM.Department
                                     },
                                     Model.FilterBarVM.Sort,
                                     Html.NameFor(m => m.TableLineItemsVMs.FirstOrDefault().HOME_DEPARTMENT).ToString()
                                     )">
                            @Html.DisplayNameFor(m => m.TableLineItemsVMs.FirstOrDefault().HOME_DEPARTMENT).ToString()
                        </a>
                        @TableSorter.DisplayCurrentSort(Model.FilterBarVM.Sort, @Html.NameFor(model => model.TableLineItemsVMs.First().HOME_DEPARTMENT).ToString())
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.TableLineItemsVMs)
                {
                    <tr>
                        <td>@Html.ActionLink(@item.NAME, "FacultyProfile", "Faculty", new { id = item.BANNER_ID, department = item.DepartmentCode }, null)</td>
                        <td>@Html.DisplayFor(modelItem => item.HOME_DEPARTMENT)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!--Pagination-->
<nav class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
    @Html.PagedListPager((IPagedList)Model.TableLineItemsVMs, page =>
    {
        Model.FilterBarVM.Page = page;
        return @Url.Action("Index", "Faculty", Model.FilterBarVM);
    })
</nav>