﻿@model GraduateHourVM
@using FTCS.ViewModels.FacultyProfile

    @using (Ajax.BeginForm("AddNewCreditHourInformation", "GraduateSemesterCreditHours", new AjaxOptions()
    {
        HttpMethod = "Post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "graduate-hours-table"
    }, new { Class= "edit-graduate-hours-view" }))
    {
        <div align="left" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            @Html.TextBoxFor(m => m.GraduateDispline)
        </div>
        <div align="left" class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            @Html.TextBoxFor(m => m.GraduateHour, new {type = "number", max="200" })
        </div>
        

        @Html.HiddenFor(m => m.GraduateHour)
        @Html.HiddenFor(m => m.TeacherId)
        @Html.HiddenFor(m => m.GraduateDispline)
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <button class="btn rounded-green-button shadow-box-gray" type="submit">
                <i class="fa fa-check" aria-hidden="true"></i>
            </button>
            <a class="btn rounded-red-button-add shadow-box-gray"
               data-ajax="true"
               data-ajax-method="GET"
               data-ajax-mode="replace"
               data-ajax-loading="#ajax-loading-add-pos"
               data-ajax-update="#add-credit-hour"
               href=@Url.Action("CancelAddCreditHour", "GraduateSemesterCreditHours", new { TeacherId = Model.TeacherId })>
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </div>
    }