﻿@model GraduateSemesterCreditHoursVM
@using FTCS.ViewModels.FacultyProfile;
@{
    ViewData["facultyId"] = Model.GraduateCreditHours.Id;
}
<a data-ajax="true"
   data-ajax-method="GET"
   data-ajax-mode="replace"
   data-ajax-loading="#ajax-loading-add-pos"
   data-ajax-update="#add-credit-hour"
   href=@Url.Action("AddCreditHours", "GraduateSemesterCreditHours", new { TeacherId = Model.GraduateCreditHours.Id })
   class="btn add-graduate-hour-button">
    <i class="fa fa-plus-circle" aria-hidden="true"></i>
    Add Graduate Credit Hours
    <div id="ajax-loading-add-pos" class="ajax-loader-wheel-md" style="display:none">
    </div>
</a>
