﻿@model GraduateHourVM
@using FTCS.ViewModels.FacultyProfile
    <td>
        @Html.DisplayFor(m => m.GraduateDispline)
    </td>
    <td colspan="2">
        @using (Ajax.BeginForm("ChangeCreditHours", "GraduateSemesterCreditHours", new AjaxOptions()
        {
            HttpMethod = "Post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = $"current-credit-hour-row-{ @Model.TeacherId }-{ @Model.GraduateDispline }".Replace(" ", "")
        }, new { Class= "edit-graduate-hours-view" }))
        {
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    @Html.TextBoxFor(m => m.GraduateHour, new { Class = "edit-graduate-hour", type = "number", max="200" })
                    @Html.HiddenFor(m => m.TeacherId)
                    @Html.HiddenFor(m => m.GraduateDispline)
                </div>
                <div align="right" class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    @* Accept changes button *@
                    <button class="accept-edit-button btn rounded-green-button shadow-box-gray" type="submit">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </button>
                    @* Cancel button *@
                    <button class="btn rounded-red-button-edit shadow-box-gray"
                       data-ajax="true"
                       data-ajax-method="GET"
                       data-ajax-mode="replace"
                       @*data-ajax-loading="#ajax-loading-@Model.Concentration.ConcentrationCode-@Model.Concentration.ProgramCode"*@
                       data-ajax-update="#graduate-hours-table"
                       href=@Url.Action("CancelAddCreditHour", "GraduateSemesterCreditHours")>
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
            }
    </td>