﻿@model GraduateSemesterCreditHoursVM
@using FTCS.ViewModels.FacultyProfile;
@using FTCS.App_Code;
@{
    ViewData["facultyId"] = Model.GraduateCreditHours.Id;
}

<div align="left">
    <div class="row padding-top-2">
        <h2 class="col-left">Graduate Semester Credits in Discipline</h2>
    </div>
    <table id="graduate-semester-credit-table" class="table table-striped content-table">
        <thead>
            <tr>
                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    Discipline
                </th>
                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    Graduate Hours
                </th>
                <th class="colcol-lg-2 col-md-2 col-sm-2 col-xs-2">
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var graduateHours in Model.GraduateCreditHours.GraduateHours)
            {
                <tr id="current-credit-hour-row-@graduateHours.TeacherId-@graduateHours.GraduateDispline.Replace(" ","")">
                    @Html.Partial("_GraduateHour", graduateHours)
                </tr>
            }
            <tr>
                <td class="col-right" colspan="4">
                    <div id="add-credit-hour">
                        @Html.Action("AddCreditHourButton", @Model)
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
