﻿@model AcademicQualificationsVM
@using FTCS.ViewModels.FacultyProfile

<label>Select Faculty Member</label>
@using (Ajax.BeginForm("GraduateSemesterCreditHoursTable", "GraduateSemesterCreditHours", new AjaxOptions {
    UpdateTargetId = "graduate-hours-table",
    HttpMethod ="Get",
    InsertionMode = InsertionMode.Replace }))
{

    <div class="select-box" id="GraduateSemesterHours_Faculty">
        
        @Html.DropDownListFor(m => m.Id, ViewData["facultyList"] as List<SelectListItem>,
            new { @class = "select-box glow-blue col-lg-8 col-md-8 col-sm-8 col-xs-8 col-right", @title = "Select a Faculty" })
    </div>
    <button type="submit">submit</button> 
}
