﻿@model GraduateHourVM
@using FTCS.ViewModels.FacultyProfile

<td>
    @Html.DisplayFor(m => Model.GraduateDispline) 
</td>
<td>
    @Html.DisplayFor(m => Model.GraduateHour)
</td>
<td style="text-align: right">
    @using (Ajax.BeginForm("EditCreditHours", "GraduateSemesterCreditHours", new AjaxOptions
    {
        HttpMethod = "Get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = $"current-credit-hour-row-{@Model.TeacherId}-{@Model.GraduateDispline}".Replace(" ", "")
    }, new { Class="view-graduate-hours"}))
    {

        @Html.HiddenFor(m => m.TeacherId)
        @Html.HiddenFor(m => m.GraduateDispline)
        @Html.HiddenFor(m => m.GraduateHour)
        <button class="btn rounded-teal-button shadow-box-grey" type="submit" href="@Url.Action("EditCreditHours")">
            <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>       
    }
    @*@using (Ajax.BeginForm("DeleteCreditHour", "GraduateSemesterCreditHours", new AjaxOptions
            {
                HttpMethod = "Post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "graduate-hours-table"
            }, new { Class="view-graduate-hours" }))
            {
                @Html.HiddenFor(m => m.GraduateDispline)
                @Html.HiddenFor(m => m.TeacherId)
                <div>
                    <button class="btn rounded-red-button shadow-box-gray">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            }*@
    <button class="btn rounded-red-button shadow-box-gray" onclick="fadeIn(this)" title="Remove the @Model.GraduateDispline discipline">
        <i class="fa fa-trash"></i>
    </button>
    @Html.Partial("_DeleteConfirm", @Model)
</td>


<!--Script to make accordion drop down-->
@Scripts.Render("~/Scripts/FTCS/remove-fade-in-fade-out.js")