﻿@model FTCS.ViewModels.Task.GraduateSemesterCreditHoursVM
@using FTCS.App_Code;
@{ 
    ViewData["facultyId"] = Model.GraduateCreditHours.Id;
}

<!--Faculty dropdown text and dropdown-->
<div class="graduate-semester-credit-hours">
    @Html.Partial("_GraduateSemesteCreditHoursSelectForm", Model.GraduateCreditHours, new ViewDataDictionary(){{"facultyList", Model.FacultyOptions}})
</div>

<div id="graduate-hours-table">

</div>
