﻿@model PaginatedTableVM<DepartmentVM>
@using FTCS.ViewModels;
@using PagedList.Mvc;
@using PagedList;
@using FTCS.App_Code;

@{
    ViewBag.Title = "Faculty by Department";
}

<div class="container ">
    <!--Heading section-->
    <div class="row content-title padding-top-4">
        <h1 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-left">List of Departments</h1>
    </div>
    <div class="row hr-yellow">
        <hr/>
    </div>
    <!--Search and filter section-->
    <div class="row">
        @Html.Partial("_FilterBar", Model.FilterBarVM)
    </div>
    <!--Table Section-->
    <div class="row">
        <table class="table table-striped table-condensed content-table">
            <thead>
                <tr>
                    <th class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <a href="@TableSorter.SetNextSort(
                            "Index", new
                            {
                                Letter = Model.FilterBarVM.Letter,
                                Search = Model.FilterBarVM.Search
                            },
                            Model.FilterBarVM.Sort,
                            Html.NameFor(m => m.TableLineItemsVMs.FirstOrDefault().NAME).ToString()
                            )">
                            @Html.DisplayNameFor(m => m.TableLineItemsVMs.FirstOrDefault().NAME).ToString()
                        </a>
                        @TableSorter.DisplayCurrentSort(Model.FilterBarVM.Sort, @Html.NameFor(model => model.TableLineItemsVMs.First().NAME).ToString())
                    </th>
                    <th class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <a href="@TableSorter.SetNextSort(
                            "Index", new
                            {
                                Letter = Model.FilterBarVM.Letter,
                                Search = Model.FilterBarVM.Search
                            },
                            Model.FilterBarVM.Sort,
                            Html.NameFor(m => m.TableLineItemsVMs.FirstOrDefault().NUMBER_OF_TEACHERS).ToString()
                            )">
                            @Html.DisplayNameFor(m => m.TableLineItemsVMs.FirstOrDefault().NUMBER_OF_TEACHERS).ToString()
                        </a>
                        @TableSorter.DisplayCurrentSort(Model.FilterBarVM.Sort, @Html.NameFor(model => model.TableLineItemsVMs.First().NUMBER_OF_TEACHERS).ToString())
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.TableLineItemsVMs)
                {
                    <tr>
                        <td>@Html.ActionLink(@item.NAME, "Index", "Faculty", new { department = @item.DEPARTMENT_CODE }, null)</td>
                        <td>@Html.DisplayFor(modelItem => item.NUMBER_OF_TEACHERS)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!--Pagination-->
<nav class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
    @Html.PagedListPager((IPagedList)Model.TableLineItemsVMs,  page =>
    {
          
        Model.FilterBarVM.Page = page;
        return @Url.Action("Index","Department", Model.FilterBarVM);
    })
</nav> 

  
   
       
    
