﻿@model TaskVM
@using FTCS.ViewModels.Task;

<!--Title with Department-->
<div class="row content-title padding-top-4">
    <h1 class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-left">Department Credential Officer</h1>
    <h2 class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-right">Department: @Model.Department</h2>
</div>
<div class="row hr-yellow">
    <hr />
</div>
<!--Sub-Menu-->
<div class="sub-content">
    <div class="row menu-row padding-top-2">
        <!--Program of Study Button-->
        <a id="program-of-study-button" class="btn btn-default menu-button active"
           data-ajax="true"
           data-ajax-method="GET"
           data-ajax-mode="replace"
           data-ajax-loading="#ajax-loading-pos"
           data-ajax-update="#task-panel"
           href=@Url.Action("Index", "ProgramOfStudy")>
            Programs of Study
            <!--Loader-->
            <div id="ajax-loading-pos" class="ajax-loader-wheel-sm" style="display:none">
            </div>
            <div class="triangle-outer" style="display: block;"></div>
            <div class="triangle-inner" style="display: block;"></div>
        </a>
        <!--Incpmplete Certifications Button-->
        <a id="incomplete-certifications-button" class="btn btn-default menu-button"
           data-ajax="true"
           data-ajax-method="GET"
           data-ajax-mode="replace"
           data-ajax-loading="#ajax-loading-ic"
           data-ajax-update="#task-panel"
           data-ajax-success="loadIncomplete()"
           href=@Url.Action("Index","Certifications")>
            Incomplete Certifications
            <!--Badge-->
            @if (!@Model.IncompleteCertification.Equals(0))
            {
                <div class="badge badge-red">
                    @Model.IncompleteCertification
                </div>
            }
            <!--Loader-->
            <div id="ajax-loading-ic" class="ajax-loader-wheel-sm" style="display:none">
            </div>
            <div class="triangle-outer" style="display: none;"></div>
            <div class="triangle-inner" style="display: none;"></div>
        </a>
        <!--Professional Qualifications Button-->
        <a id="professional-qualifications-button" class="btn btn-default menu-button"
           data-ajax="true"
           data-ajax-method="GET"
           data-ajax-mode="replace"
           data-ajax-loading="#ajax-loading-pq"
           data-ajax-update="#task-panel"
           href=@Url.Action("Index","ProfessionalQualifications")>
            Professional Qualifications
            <!--Badge-->
            @if (!@Model.ProfessionalQualification.Equals(0))
            {
                <div class="badge badge-red">
                    @Model.ProfessionalQualification
                </div>
            }
            <!--Loader-->
            <div id="ajax-loading-pq" class="ajax-loader-wheel-sm" style="display:none">
            </div>
            <div class="triangle-outer" style="display: none;"></div>
            <div class="triangle-inner" style="display: none;"></div>
        </a>
    </div>
    <hr />
    <!--Panel-->
    <div id="task-panel" class="panel">
        @Html.Action("Index", "ProgramOfStudy")
    </div>
</div>

<!--Scripts-->
@Scripts.Render("~/Scripts/FTCS/sub-menu.js")
@Scripts.Render("~/Scripts/FTCS/incomplete-certification.js")
@Scripts.Render("~/Scripts/FTCS/ajax-success-message.js")
