﻿@model TableVM<FacultyRosterVM>
@using PagedList.Mvc;
@using PagedList;
@using FTCS.ViewModels;
<div id="ftcs-table" class="row">
    <header class="col-lg-12 col-md-12 col-sm-12">
        <h2>Faculty Roster</h2>
    </header>
    <article class="col-lg-12 col-md-12 col-sm-12">
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Academic Degree</th>
                    <th>Professional Qualifications</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.TableLineItemsVMs)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>
                            <ul>
                                @foreach (var degree in item.AcademicDegreeList)
                                {
                                    <li>@Html.DisplayFor(modelItem => degree.INSTITUTION)</li>
                                    <li>@Html.DisplayFor(modelItem => degree.DISCIPLINE)</li>
                                  
                                }
                            </ul>

                        </td>
                        <td>@Html.DisplayFor(modelItem => item.Qualification)</td>
                    </tr>
                }

            </tbody>
        </table>
    </article>
    <nav class="col-lg-12 col-md-12 col-sm-12 text-center">
    </nav>
</div>