﻿@{
    ViewBag.Title = "Home";
}

<head>
    <!--Scripts for donut charts-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="~/Scripts/FTCS/home-donut-charts.js"></script>
</head>

<div class="container">
    <!--Welcome section-->
    <div class="row content-title padding-top-2">
        <h1 class="col-md-12 col-left">Welcome</h1>
    </div>
    <div class="row hr-yellow">
        <hr />
    </div>
    <div class="row row-centered">
        <p class="col-md-12">
            Qualified faculty members are essential in accomplishing the Mission of East Tennessee State University.
            The Faculty Teaching Credentials System presents faculty qualifications supportive of competence in teaching
            and program coordination, assignment history, and faculty contact information. Faculty competence is established
            by either academic or professional/experiential qualifications.
        </p>
    </div>
    <!--Reports section-->
    <div class="row content-title">
        <h1 class="col-md-12 col-left">Reports</h1>
    </div>
    <div class="hr-yellow ">
        <hr />
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-12">
            <!--Loading wheel (for donut chart to load)-->
            <div class="loader-wheel homepage-report-loader">
            </div>
            <!--Faculty credentials donut chart-->
            <div class="homepage-report-loading-message">Loading Chart...</div>
            <div id="faculty-credentails-chart" class="donut-chart">
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <!--Course Section Qualification Percentage Report button-->
            @Html.ActionLink("Course Section Qualification Percentage Report", "CourseSectionQualificationPercentageReport", "Reports",
                new {}, new {@class = "btn homepage-button-reports rounded-blue-button shadow-box-gray", @id = "csqpr-link"})
            <!--Faculty Credentials Reports button-->
            @Html.ActionLink("Faculty Credentials Report", "FacultyCredentialsReport", "Reports",
                new {}, new {@class = "btn homepage-button-reports rounded-blue-button shadow-box-gray", @id = "faculty-credentials-link"})
            <!--Facultly Roster Report button-->
            @Html.ActionLink("Faculty Roster Report", "FacultyRoster", "Reports",
                new {}, new {@class = "btn homepage-button-reports rounded-blue-button shadow-box-gray", @id = "faculty-roster-link"})
            <!--Graduate Assistant Roster Report button-->
            @Html.ActionLink("Graduate Assistant Roster Report", "GradAssistantRoster", "Reports",
                new {}, new {@class = "btn homepage-button-reports rounded-blue-button shadow-box-gray", @id = "graduate-assistance-roster-link"})
        </div>
    </div>
</div>