﻿
@{
    ViewBag.Title = "SACSCredentialsGuidelines";
}



<h2 style="text-align:center;">SACS Comprehensive Standard 3.7.1</h2>

<p>

    The institution employs competent faculty members qualified to accomplish the mission and goals of the institution. When determining acceptable qualifications of its faculty, an institution gives primary consideration to the highest earned degree in the discipline. The institution also considers competence, effectiveness, and capacity, including, as appropriate, undergraduate and graduate degrees, related work experiences in the field, professional licensure and certifications, honors and awards, continuous documented excellence in teaching, or other demonstrated competencies and achievements that contribute to effective teaching and student learning outcomes. For all cases, the institution is responsible for justifying and documenting the qualifications of its faculty.
</p>
<p>

    Commission Guidelines for Faculty Credentials
</p>
<p>


    <ol style="list-style-type: upper-alpha;">
        <li>Faculty teaching general education courses at the undergraduate level: doctoral or master’s degree in the teaching discipline or master’s degree with a concentration in the teaching discipline (a minimum of 18 graduate semester hours in the teaching discipline).</li>
        <li>Faculty teaching associate degree courses designed for transfer to a baccalaureate degree: doctoral or master’s degree in the teaching discipline or master’s degree with a concentration in the teaching discipline (a minimum of 18 graduate semester hours in the teaching discipline).</li>
        <li>Faculty teaching associate degree courses not designed for transfer to the baccalaureate degree: bachelor’s degree in the teaching discipline, or associate’s degree and demonstrated competencies in the teaching discipline.</li>
        <li>Faculty teaching baccalaureate courses: doctoral or master’s degree in the teaching discipline or master’s degree with a concentration in the teaching discipline (minimum of 18 graduate semester hours in the teaching discipline). At least 25 percent of the discipline course hours in each undergraduate major are taught by faculty members holding the terminal degree—usually the earned doctorate—in the discipline.</li>
        <li>Faculty teaching graduate and post-baccalaureate course work: earned doctorate/terminal degree in the teaching discipline or a related discipline.</li>
        <li>Graduate teaching assistants: master’s in the teaching discipline or 18 graduate semester hours in the teaching discipline, direct supervision by a faculty member experienced in the teaching discipline, regular in-service training, and planned and periodic evaluations.</li>
    </ol>

</p>